// fonts variable
$heading-font: 'Public Sans', sans-serif !default;
$body-font: 'Inter', sans-serif !default;
$another-font: 'Space Grotesk', sans-serif !default;
$another-font2: 'Syne', sans-serif !default;
$another-font3: 'Cabin', sans-serif !default;


// color variable

$colors: (
  gray: (
    900: #26242C,
    800: #13111A,
    700: #E1E1E1,
    600: #211D2E,
    500: #000000,
    400: #FAFAFA,
    10: #fff,
  ),
  primary: (
    600: #724FE5,
    500: #2C04FE,
    400: #6C64CE,
    300: #0080FF,
    
  ),
  success: (
    500: #32E7B1,
    400: #70DFE6,
    300: #00E0B8,
  ),
  warning: (
    600: #EEE6D0,
    500: #FFC947,
    400: #F0E9E1,
    300: #FFFDF5,
    200: #F6F2E8,
    100: #FFFCF2,
    50: #FFF7F0,
    10: #FAF6F6,
  ),
  danger: (
    500: #FF6B55,
  ),
  pink: (
    600: #FF00D5,
    500: #FF3C82,
    400: #F290E7,
  ),
);

$bodyfontScale: (
  xl: (
    20: 20px,
    lineheight: 32px,
  ),
  lg: (
    18: 18px,
    lineheight: 28px,
  ),
  md: (
    16: 16px,
    lineheight: 24px,
  ),
  xs: (
    14: 14px,
    lineheight: 22px,
  ),
  xss: (
    12: 12px,
    lineheight: 20px,
  ),
);

// button font size
$button_font_size: 16px;
$buton_line_height: 24px;
$buton_border_radius: 3px;
$button_padding: 15px 36px;
$button_font_weight: 700;
$button_font_family: $body-font;

