.zuzu-about{
  &-section{
    padding: 120px 0 140px;
    @include max(991px) {
      padding: 100px 0;
    }
    @include max(767px) {
      padding: 80px 0;
    }
    .zuzu-default-content{
      h2{
        @include max(1199px) {
          font-size: 40px;
          line-height: 48px;
        }
      }
      h2{
        @include max(767px) {
          font-size: 32px;
          line-height: 40px;
        }
      }
    }
  }
  &-thumb{
    position: relative;
    display: inline-block;
    img{
      width: 100%;
    }
    @include max(1199px) {
      margin-right: 50px;
    }
    @include max(991px) {
      display: block;
      margin: 0 0 50px;
      padding-right: 100px;
    }
    @include max(479px) {
      padding-right: 50px;
    }
  }
  &-thumb2{
    bottom: -20px;
    right: -22%;
    position: absolute;
    width: 57.87%;
    border-radius: 10px;
    transform: rotate(5deg);
    filter: drop-shadow(10px 14px 50px rgba(0, 0, 0, 0.15));
    @include max(1199px) {
      right: -10%;
      position: absolute;
      width: 50%;
    }
    @include max(991px) {
      right: 12px;
      width: 40%;
    }
  }
}

.zuzu-counter-rating{
  margin-top: 30px;
    ul{
      display: flex;
      align-items: center;
      @include max(1199px) {
        justify-content: center;
      }
      li{
        margin: 0 2px;
        line-height: 1;
        display: inline-block;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.7);
        &:first-child{
          margin-right: 20px;
        }
        &:last-child{
          margin-left: 10px;
        }
      }
    }
    
}

// nexto fugo

// about dark
// about section
.zuzu--about-hero-section.dark-version {
  background-size: cover;
  padding: 200px 0 120px;
  background-color: var(--gray-800);
  @include max(767px) {
    padding: 60px 0;
  }
}
.zuzu--about-section2{
  z-index: 0;
  position: relative;
  background-color: var(--gray-800);
  .zuzu--hero-content{
    max-width: 100%;
  }
  .zuzu--section-title {
    max-width: 855px;
    p{
      margin-right: 0;
    }
  }
}

.zuzu--thumb-thumb2 {
  border-radius: 12px;
  overflow: hidden;
}
.zuzu--shpae5 {
  position: absolute;
  top: -20%;
  right: 0;
  z-index: -1;
}

.exeter-signal-loaded.exeter-signal {
  margin-top: 0;
}
.exeter-signal{
  margin-top: -200px;
    transition: all 0.4s;
}

// nexto vision section
.zuzu--vision-section{
  padding: 5px 0;
  overflow: hidden;
  background-color: var(--gray-800);
  @include max(991px) {
    padding: 5px 0 0;
  }
}
.swiper-cards .swiper-slide{
  overflow: inherit;
}




// video section
.zuzu--video-section2{
  background-color: var(--gray-800);
  .zuzu--default-content.content-sm h2{
    padding: 0 30px;
    @include max(540px) {
      padding: 0;
    }
  }
  .zuzu--video-thumb{
    margin: 0;
  }
}

// faq section
.zuzu--faq-section {
  &.dark-version{
    background-color: var(--gray-800);
    .zuzu--section-title {
        margin: 0 auto 45px;
        @include max(991px) {
          margin: 0 auto 25px;
        }
    }
    .zuzu--default-content{
      @include max(991px) {
        margin: 0 auto;
        max-width: 600px;
        text-align: center
      }
    }
  }
}

// about light 
.zuzu--feature2-section{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) -51.59%, #EEE6D0 119.2%);
}
.zuzu--feature{
  &-wrap{
    padding: 0 45px;
    padding-bottom: 90px;
    margin-bottom: 24px;
    border-left: 1px solid rgba(19, 17, 26, 0.2);
    @include max(1400px) {
      padding: 0 30px;
      padding-right: 0;
      padding-bottom: 90px;
    }
    @include max(1199px) {
      padding-bottom: 0;
      padding-right: 0;
    }
    @include max(991px) {
      padding: 0 25px;
      padding-right: 0;
    }
  }
  &-data{
    h2{
      font-weight: 700;
      font-size: 60px;
      line-height: 1;
      margin-bottom: 30px;
      color: #FF6B55;
      font-family: $another-font;
    }
    span{
      display: block;
      font-size: 30px;
      line-height: 1;
      letter-spacing: -1px;
      margin-bottom: 20px;
      color: var(--gray-800);
      @include max(575px) {
        font-size: 24px;
        margin-bottom: 15px;
      }
    }
    p{
      color: #13111A;
      opacity: 0.8;
      &:last-child{
        margin: 0;
      }
    }
  }
}

.col-xl-4.col-md-6{
  &:nth-child(2) .zuzu--feature-wrap{
    padding-top: 90px;
    padding-bottom: 0;
    @include max(1199px) {
      padding-top: 0;
    }
  }
}