.zuzu-career{
  &-card{
    padding: 29px;
    border-radius: 10px;
    margin-bottom: 24px;
    transition: all 0.4s;
    border: 1px solid rgba(19, 17, 26, 0.1);
    &:hover{
      background: #FFFFFF;
      border: 1px solid #fff;
      box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.06);
    }
  }
  &-time{
    padding: 20px 0 35px;
    ul{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      li{
        font-size: 16px;
        margin-right: 18px;
        display: inline-block;
        color: var(--gray-800);
        &:last-child{
          margin-right: 0;
        }
        img{
          margin-right: 7px;
        }
      }
    }
  }
}

// career single
.zuzu-single-career-item {
  margin-bottom: 55px;
  &:last-child{
    margin-bottom: 0;
  }
  @include max(991px) {
    margin-bottom: 30px;
  }
}

.zuzu-career-sidebar {
  top: 100px;
  padding: 40px;
  border-radius: 10px;
  position: sticky;
  background: #FFFFFF;
  box-shadow: 0px 4px 60px rgb(0 0 0 / 6%);
  h4{
    margin-bottom: 25px;
  }
  @include max(991px) {
    padding: 30px;
    margin-top: 40px;
    position: static;
  }
}

.zuzu-career-time2{
  margin-bottom: 55px;
  @include max(991px) {
    margin-bottom: 30px;
  }
  ul{
    li{
      position: relative;
      font-size: 16px;
      padding-left: 30px;
      margin-bottom: 15px;
      &:last-child{
        margin-bottom: 0;
      }
      span{
        font-weight: 700;
        display: block;
        line-height: 1;
        color: var(--gray-800);
      }
      img{
        left: 0;
        top: 2px;
        position: absolute;
      }
    }
  }
}