.fugu-earth-thumb{
  position: relative;
  @include max(991px) {
    margin-bottom: 40px;
    text-align: center;
  }
}

.waves7{
  width: 200px;
  height: 200px;
  left: -40px;
  top: -40px;
  @include max(767px) {
    width: 130px;
    height: 130px;
    left: -35px;
    top: -35px;
  }
}

.fugu-animation-circle {
  position: absolute;
  top: -12px;
  left: -11%;
  -webkit-animation: float 3s ease-in-out infinite;
    animation: float 3s ease-in-out infinite;
    @include max(991px) {
      left: 12%;
    }
    @include max(767px) {
      left: 0;
    }
    @include max(479px) {
      left: -25px;
    }
}

.box3{
  left: 10%;
  bottom: 10%;
  img{
    width: 76%;
  }
  @include max(991px) {
    display: none;
  }
}
.box4{
  top: -60px;
  right: 5%;
  @include max(1200px) {
    right: 0;
  }
  @include max(991px) {
    display: none;
  }
  img{
    width: 94%;
    @include max(1200px) {
      width: 70%;
    }
  }
}

// newsletter section
.fugu-newsletter-wrap{
  padding: 80px;
  border-radius: 20px;
  text-align: center;
  background-color: var(--gray-800);
  @include max(991px) {
    padding: 70px;
  }
  @include max(767px) {
    padding: 50px 40px;
  }
  @include max(575px) {
    padding: 30px;
  }
  .fugu--default-content{
    max-width: 770px;
    margin: 0 auto;
  }
}

.fugu-newsletter-field {
  margin-top: 45px;
  input{
    height: 55px;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 16px;
    width: 320px;
    margin-right: 15px;
    border: 1px solid #30FFC7!important;
    @include max(767px) {
      width: 100%;
      margin: 0;
    }
  }
}

button#fugu-newsletter-btn {
  width: 160px;
  height: 55px;
  background: linear-gradient(225deg, #30FFC7 0%, #512FE7 100%);
  border-radius: 3px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  @include max(767px) {
    width: 100%;
    margin-top: 15px;
  }
}

.fugu-newsletter-field input::-webkit-input-placeholder{ /* WebKit, Blink, Edge */
  color:    #fff;
  opacity: 0.5;
}
.fugu-newsletter-field input:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
 color:    #fff;
 opacity:  0.5;
}
.fugu-newsletter-field input::-moz-placeholder{ /* Mozilla Firefox 19+ */
 color:    #fff;
 opacity:  0.5;
}
.fugu-newsletter-field input:-ms-input-placeholder{ /* Internet Explorer 10-11 */
 color:    #fff;
 opacity: 0.5;
}
.fugu-newsletter-field input::-ms-input-placeholder{ /* Microsoft Edge */
 color:    #fff;
 opacity: 0.5;
}

.fugu-newsletter-field input::placeholder{ /* Most modern browsers support this now. */
 color:    #fff;
 opacity: 0.5;
}
