// text slider

.zuzu--text-slider-section3{
  background-color: #F290E7;
  padding: 15px 0;
  .zuzu--text-slider-data{
    h3{
      font-size: 30px;
      color: var(--gray-800);
      text-transform: capitalize;
    }
  }  
}

// card slider
.zuzu-card-slider .zuzu--arrow, 
.zuzu-card-slider .prev-arrow {
  left: -15px;
  top: 50%;
  z-index: 9;
  position: absolute;
  transform: translateY(-50%);
  width: 41px;
  height: 41px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 100%;
  background-size: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--primary-400);
  border: 1px solid var(--gray-800);
  transition: all .4s;
  box-shadow: 0 3px 0 0 var(--gray-800);
  background-image: url(../images/svg/prev.svg);
  @include max(991px) {
    left: 0;
  }
}

.zuzu-card-slider .zuzu--arrow {
  left: auto;
  right: -15px;
  background-image: url(../images/svg/next.svg);
  @include max(991px) {
    right: 0;
  }
}

.zuzu-card-slider .zuzu--arrow:hover, 
.zuzu-card-slider .prev-arrow:hover{
  box-shadow: 0 0 0 0 var(--gray-800);
} 
.zuzu-card-slider-item{
  @include max(991px) {
    margin-bottom: 40px;
  }
}
.zuzu-card-slider .slick-slide img{
  margin: 0 auto;
  height: 525px;
  @include max(1199px) {
    height: 450px;
  }
}