
// home v3

.zuzu-earth-thumb{
  position: relative;
  @include max(991px) {
    margin-bottom: 40px;
    text-align: center;
  }
}


.zuzu-animation-circle {
  position: absolute;
  top: -12px;
  left: -11%;
  -webkit-animation: float 3s ease-in-out infinite;
    animation: float 3s ease-in-out infinite;
    @include max(991px) {
      left: 12%;
    }
    @include max(767px) {
      left: 0;
    }
    @include max(479px) {
      left: -25px;
    }
}

.box3{
  left: 10%;
  bottom: 10%;
  img{
    width: 76%;
  }
  @include max(991px) {
    display: none;
  }
}
.box4{
  top: -60px;
  right: 5%;
  @include max(1200px) {
    right: 0;
  }
  @include max(991px) {
    display: none;
  }
  img{
    width: 94%;
    @include max(1200px) {
      width: 70%;
    }
  }
}
.zuzu-newsletter-wrap{
  padding: 80px;
  border-radius: 20px;
  text-align: center;
  background-color: var(--gray-800);
  @include max(991px) {
    padding: 70px;
  }
  @include max(767px) {
    padding: 50px 40px;
  }
  @include max(575px) {
    padding: 30px;
  }
  .zuzu-default-content{
    max-width: 770px;
    margin: 0 auto;
  }
}
