
// app section
.zuzu-apps-thumb {
    position: relative;
    transform: rotate(-5deg);
    margin-left: 60px;
    @include max(1200px) {
        margin: 0;
    }
    @include max(991px) {
        margin: 0 0 50px;
        text-align: center;
        transform: none !important;
    }
}
.zuzu-apps-thumb{
    &.zuzu-apps-thumb2{
        transform: rotate(-5deg)
    }
}
.zuzu-shape3 {
    position: absolute;
    top: 0;
    z-index: -1;
    left: 6%;
    @include max(1650px) {
        left: -5%;
    }
    @include max(1199px) {
        left: -12%;
    }
    @include max(991px) {
        left: 5%;
    }
    @include max(767px) {
        display: none;
    }
}

// errors 404
.zuzu-error-content {
    padding: 190px 0 110px;
    text-align: center;
    max-width: 640px;
    margin: 0 auto;
    @include max(991px) {
        padding: 150px 0 90px;
    }
    @include max(767px) {
        padding: 130px 0 70px;
    }
    h1{
        font-size: 150px;
        line-height: 176px;
        @include max(991px) {
            font-size: 120px;
            line-height: 140px;
        }
        @include max(767px) {
            font-size: 100px;
            line-height: 120px;
        }
    }
    p{
        margin-bottom: 55px;
        padding: 0 30px;
        @include max(991px) {
            margin-bottom: 35px;
        }
        @include max(767px) {
            padding: 0;
        }
    }
}

// coming soon
.coming-soon {
    &-section{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-column{
        text-align: center;
        margin: 0 auto;
    }
    &-logo{
        margin-bottom: 90px;
        @include max(991px) {
            margin-bottom: 50px;
        }
    }
    &-content{
        max-width: 505px;
        margin: 0 auto 80px;
        @include max(991px) {
            margin: 0 auto 40px;
        }
    }
    
}

.zuzu-countdown{
    &-wrap{
        display: flex;
        justify-content: center;
        margin-bottom: 80px;
        @include max(991px) {
           margin-bottom: 40px;
        }
        @include max(575px) {
            flex-wrap: wrap;
        }
    }
    &-item{
        width: 200px;
        height: 200px;
        border-radius: 100%;
        display: flex;
        padding-top: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--gray-800);
        @include max(767px) {
            width: 150px;
            height: 150px;
        }
        
        &:nth-child(2), 
        &:nth-child(3), 
        &:nth-child(4) {
            margin-left: -30px;
            @include max(767px) {
                margin-left: -15px;
            }
        }
        .number{
            margin-bottom: 20px;
            font-weight: 700;
            font-size: 48px;
            color: var(--gray-800);
            @include max(991px) {
                font-size: 40px;
            }
            @include max(767px) {
                font-size: 36px;
            }
        }
        p{
            font-size: 16px;
        }
    }
}
.zuzu-go-top {
    position:fixed;
    bottom: 10%;
    right: 3%;
    z-index: 0;
    z-index: 99;
    display:none;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    &:before{
        content: "";
        left: 50%;
        top: 50%;
        z-index: -1;
        width: 40px;
        height: 40px;
        border-radius: 3px;
        position: absolute;
        background-color: var(--primary-600);
        transform: translate(-50%, -50%)
    }
    img{
        transform: rotate(-90deg);
    }
  }

  .zuzu-btn-wrap {
    margin-top: 55px;
    @include max(991px) {
        margin-top: 40px;
    }
}



// home 03


// slider one section
.zuzu--slider-section{
    background-color: var(--gray-800);
    position: relative;
    z-index: 0;
}

.zuzu--slider-one .slick-slide{
    margin: 2px 12px;
  }
  .zuzu--slider-one .prev-arrow, 
  .zuzu--slider-one .zuzu--arrow {
    left: -30px;
    top: 50%;
    z-index: 9;
    position: absolute;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    color: #201C2C;
    font-size: 20px;
    cursor: pointer;
    border-radius: 100%;
    background-size: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--gray-10);
    border: 5px solid #13111A;
    transition: all 0.4s;
    background-image: url(../images/svg2/arrow-left.svg);
    
  }
  .zuzu--slider-one .zuzu--arrow {
    left: auto;
    right: -30px;
    background-image: url(../images/svg2/arrow-right.svg);
  }
  .slick-prev:before, .slick-next:before{
    display: none;
  }

  .zuzu--slider-one{
    .slick-slide.slick-current.slick-active{
        .zuzu--btn:before {
            opacity: 1;
        }
        .zuzu--btn{
            color: var(--gray-10);
        }
        .zuzu--card-wrap{
            box-shadow: 0 0 0 1px rgba(255, 255, 255, 0);
            &:before{
                opacity: 1;
            }
        }
  
    }
  }
 

//   protfolio section
.zuzu--portfolio-section{
    position: relative;
    z-index: 0;
    .zuzu--section-title{
        margin: 0 auto 55px;
    }
}




.zuzu--portfolio-menu{
    margin-bottom: 55px;
    @include max(991px) {
        margin-bottom: 35px;
    }
    ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        @include max(1199px) {
         justify-content: space-between;
        }
        li{
            display: flex;
            align-items: center;
            font-weight: 700;
            font-size: 16px;
            position: relative;
            border-radius: 10px;
            padding: 2px;
            margin: 0 10px;
            color: white;
            cursor: pointer;
            transition: all 0.4s;
            background: linear-gradient(to right, #FF00D4 , #7D41EA, #0080FF );
            &.active{
                transition: all 0.4s;
                background: linear-gradient(225deg, #0080FF 0%, #7D41EA 46.35%, #FF00D4 100%);
                span{
                    transition: all 0.4s;
                    background: linear-gradient(225deg, #0080FF 0%, #7D41EA 46.35%, #FF00D4 100%);
                }
            }
            @include max(1199px) {
                margin: 0 0 15px;
                flex: 0 0 32.2%;
            }
            @include max(767px) {
                flex: 0 0 48.5%;
            }
            @include max(420px) {
                flex: 0 0 100%;
            }
            img{
                margin-right: 10px;
            }
            span{
                display: flex;
                align-items: center;
                height: 55px;
                padding: 10px 20.5px;
                border-radius: 10px;
                width: 100%;
                justify-content: center;
                background-color: var(--gray-800);
            }
    
        }
    }
    
}

.zuzu--portfolio-section{
    background-color: var(--gray-800);
    .zuzu--card-wrap{
        margin-bottom: 24px;
        margin-left: 24px;
    }
}
.zuzu--portfolio-wrap {
    margin-left: -24px;
}
.zuzu--portfolio-btn {
    text-align: center;
    margin-top: 56px;
    @include max(991px) {
        margin-top: 35px;
    }
}
.zuzu--section-button{
    @include max(991px) {
        margin-top: 35px;
        text-align: center;
    }
}


// text slider

.zuzu--text-slider-section {
    padding: 22px 0;
    overflow: hidden;
    background: linear-gradient(225deg, #0080FF 0%, #7D41EA 46.35%, #FF00D4 100%);
}
.zuzu--text-slider {
    &-data{
        display: flex!important;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
        flex-direction: row-reverse;
        @include max(600px) {
            text-align: center;
            display: block!important;
        }
        h3{
            font-weight: 700;
            font-size: 28px;
            letter-spacing: 2px;
            display: inline-block;
            margin: 0 15px;
            color: #fff;
            line-height: 36px;
            text-transform: uppercase;
            @include max(991px) {
                font-size: 24px;
            }
        }
    }
    &-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s;
        @include max(600px) {
            margin-bottom: 10px;
        }
    }
    
  }

// roadmap section
.zuzu--roadmap-section{
    padding: 115px 0 80px;
    background-color: var(--gray-800);
    @include max(991px) {
        padding: 100px 0 60px;
    }
    @include max(767px) {
        padding: 80px 0 40px;
    }
    .zuzu--iconbox-wrap{
        margin-bottom: 40px;
    }
}

// newsletter section
.zuzu--newslatter-section{
    z-index: 0;
    position: relative;
    background-color: var(--gray-800);
}

.zuzu--newslatter-wrap {
    border-radius: 10px;
    padding: 100px;
    text-align: center;
    position: relative;
    background: #201c2c;
    @include max(991px) {
        padding: 70px;
    }
    @include max(767px) {
        padding: 50px;
    }
    @include max(400px) {
        padding: 30px;
    }
    .zuzu--section-title {
        max-width: 585px;
        margin: 0 auto 40px;
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -2px;
        transition: all .4s;
        border-radius: inherit;
        background: linear-gradient(to right,#ff00d4,#7d41ea,#0080ff);
    }
}