{% extends "layout/layout.html" %}
{% set page_title = "Blog & Resources" %}
 {% block content %}

{% include "../templates/layout/header-footer/header-one.html" %} 

<div class="fugu-breadcrumb-section">
  <div class="container">
    {% include "../templates/components/breadcrumbs/breadcrumbs.html" %}
  </div>
  <div class="fugu-shape8">
    <img src="assets/images/shape/shape7.png" alt="">
  </div>
  <div class="fugu-shape9">
    <img src="assets/images/shape/shape8.png" alt="">
  </div>
</div>
<!-- End breadcrumb -->

<div class="fugu-blog-section fugu-section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-lg-7">
        <div class="row">
          <div class="col-xl-6 col-lg-12 col-md-6">
            <div class="fugu-blog-card wow fadeInUpX" data-wow-delay="0s">
              <div class="fugu-blog-thumb">
                  <a href="single-blog.html">
                    <img src="assets/images/all-img/blog/blog1.png" alt="">
                  </a>
              </div>
              <div class="fugu-blog-content">
                <div class="fugu-blog-meta">
                  <ul>
                    <li><a href="">Article</a></li>
                    <li><a href="">August 26, 2022</a></li>
                  </ul>
                </div>
                <h5>
                  <a href="single-blog.html">
                    Do you need a blockchain project? Six very easy steps to verify it as wise
                  </a>
                </h5>
                <p>You may be fascinated by blockchain technology, hearing about all those ground-breaking...</p>
                <a class="fugu-icon-btn" href="single-blog.html">Read More <img src="assets/images/svg/arrow-black-right.svg" alt=""></a>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-12 col-md-6">
            <div class="fugu-blog-card wow fadeInUpX" data-wow-delay=".10s">
              <div class="fugu-blog-thumb">
                  <a href="single-blog.html">
                    <img src="assets/images/all-img/blog/blog2.png" alt="">
                  </a>
              </div>
              <div class="fugu-blog-content">
                <div class="fugu-blog-meta">
                  <ul>
                    <li><a href="">Article</a></li>
                    <li><a href="">August 26, 2022</a></li>
                  </ul>
                </div>
                <h5>
                  <a href="single-blog.html">
                    How to build NFT marketplace here give a step-by-step guide to help you
                  </a>
                </h5>
                <p>An NFT marketplace is an online platform based on blockchain that allows selling and buying...</p>
                <a class="fugu-icon-btn" href="single-blog.html">Read More <img src="assets/images/svg/arrow-black-right.svg" alt=""></a>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-12 col-md-6">
            <div class="fugu-blog-card wow fadeInUpX" data-wow-delay=".20s">
              <div class="fugu-blog-thumb">
                  <a href="single-blog.html">
                    <img src="assets/images/all-img/blog/blog3.png" alt="">
                  </a>
              </div>
              <div class="fugu-blog-content">
                <div class="fugu-blog-meta">
                  <ul>
                    <li><a href="">Article</a></li>
                    <li><a href="">August 26, 2022</a></li>
                  </ul>
                </div>
                <h5>
                  <a href="single-blog.html">
                    Making life of blockchain developers flawless interview with our solutions
                  </a>
                </h5>
                <p>The work of people responsible for consulting & analysis, the intermediaries between ideas...</p>
                <a class="fugu-icon-btn" href="single-blog.html">Read More <img src="assets/images/svg/arrow-black-right.svg" alt=""></a>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-12 col-md-6">
            <div class="fugu-blog-card wow fadeInUpX" data-wow-delay=".30s">
              <div class="fugu-blog-thumb">
                  <a href="single-blog.html">
                    <img src="assets/images/all-img/blog/blog4.png" alt="">
                  </a>
              </div>
              <div class="fugu-blog-content">
                <div class="fugu-blog-meta">
                  <ul>
                    <li><a href="">Article</a></li>
                    <li><a href="">August 26, 2022</a></li>
                  </ul>
                </div>
                <h5>
                  <a href="single-blog.html">
                    Bridges between blockchains for the connecting the DeFi space one place
                  </a>
                </h5>
                <p>The blockchain space has been fortunate with a creativity burst that resulted in impressive...</p>
                <a class="fugu-icon-btn" href="single-blog.html">Read More <img src="assets/images/svg/arrow-black-right.svg" alt=""></a>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-12 col-md-6">
            <div class="fugu-blog-card wow fadeInUpX" data-wow-delay=".40s">
              <div class="fugu-blog-thumb">
                  <a href="single-blog.html">
                    <img src="assets/images/all-img/blog/blog5.png" alt="">
                  </a>
              </div>
              <div class="fugu-blog-content">
                <div class="fugu-blog-meta">
                  <ul>
                    <li><a href="">Article</a></li>
                    <li><a href="">August 26, 2022</a></li>
                  </ul>
                </div>
                <h5>
                  <a href="single-blog.html">
                    How to deploy a hyperledger fabric for network on kubernetes networks?
                  </a>
                </h5>
                <p>Enterprise-class companies need secure and efficient solutions that can fluently scale...</p>
                <a class="fugu-icon-btn" href="single-blog.html">Read More <img src="assets/images/svg/arrow-black-right.svg" alt=""></a>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-12 col-md-6">
            <div class="fugu-blog-card wow fadeInUpX" data-wow-delay=".50s">
              <div class="fugu-blog-thumb">
                  <a href="single-blog.html">
                    <img src="assets/images/all-img/blog/blog6.png" alt="">
                  </a>
              </div>
              <div class="fugu-blog-content">
                <div class="fugu-blog-meta">
                  <ul>
                    <li><a href="">Article</a></li>
                    <li><a href="">August 26, 2022</a></li>
                  </ul>
                </div>
                <h5>
                  <a href="single-blog.html">
                    Let's meet our blockchain projects - interview with solutions Consultant
                  </a>
                </h5>
                <p>Watch the interview  our solutions Consultant Agnieszka Hołownia-Niedzielska who works...</p>
                <a class="fugu-icon-btn" href="single-blog.html">Read More <img src="assets/images/svg/arrow-black-right.svg" alt=""></a>
              </div>
            </div>
          </div>
        </div>
        <div class="fugu-pagination">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true"><img src="assets/images/svg/arrow-left-gray.svg" alt=""></span>
                </a>
              </li>
              <li class="page-item"><a class="page-link active" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true"><img src="assets/images/svg/arrow-right-gray.svg" alt=""></span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-xl-4 col-lg-5">
        <div class="fugu-blog-sidebar">
          <div class="fugu-sidebar-item">
            <form action="#">
              <div class="fugu-product-search">
                <input type="search" placeholder="Type to search...">
                <button id="fugu-search-btn"><img src="assets/images/svg/search.svg" alt=""></button>
              </div>
            </form>
          </div>
          <div class="fugu-sidebar-item">
            <div class="fugu-sidebar-item-title">
              <h5>Blog Categories</h5>
            </div>
            <div class="fugu-categories">
              <ul>
                <li><a href="">Cryptocurrency (05)</a></li>
                <li><a href="">Web Development (18)</a></li>
                <li><a href="">Marketing (59)</a></li>
                <li><a href="">Data Analysis (03)</a></li>
              </ul>
            </div>
          </div>
          <div class="fugu-sidebar-item">
            <div class="fugu-sidebar-item-title">
              <h5>Recent Posts</h5>
            </div>
            <div class="fugu-recent-post-item">
              <a href=""><img src="assets/images/all-img/blog/recent-post1.png" alt=""></a>
              <div class="fugu-blog-meta">
                <ul>
                  <li><a href="">Article</a></li>
                  <li><a href="">August 26, 2022</a></li>
                </ul>
              </div>
              <h6><a href="">Blockchain and government will they have live happily ever after trade crypto world?</a></h6>
            </div>
            <div class="fugu-recent-post-item">
              <a href=""><img src="assets/images/all-img/blog/recent-post2.png" alt=""></a>
              <div class="fugu-blog-meta">
                <ul>
                  <li><a href="">Article</a></li>
                  <li><a href="">August 26, 2022</a></li>
                </ul>
              </div>
              <h6><a href="">Blockchain receives the exclusive have quin hyperledger service provider certification</a></h6>
            </div>
            <div class="fugu-recent-post-item">
              <a href=""><img src="assets/images/all-img/blog/recent-post3.png" alt=""></a>
              <div class="fugu-blog-meta">
                <ul>
                  <li><a href="">Article</a></li>
                  <li><a href="">August 26, 2022</a></li>
                </ul>
              </div>
              <h6><a href="">Espeo is recognized by techreviewer as a top blockchain development company in 2021</a></h6>
            </div>
          </div>
          <div class="fugu-sidebar-item">
            <div class="fugu-sidebar-item-title">
              <h5>Tags</h5>
            </div>
            <div class="fugu-tags">
              <ul>
                <li><a href="">#Sponsored</a></li>
                <li><a href="">#Business</a></li>
                <li><a href="">#UI / UX Design</a></li>
                <li><a href="">#Marketing</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End blog section -->

<div class="fugu-go-top">
	<img src="assets/images/svg/arrow-black-right.svg" alt="">
</div>

  {% include "../templates/layout/header-footer/footer-one.html" %} 
  
{% endblock %}
