{% extends "layout/layout.html" %}
{% set page_title = "Our Blogs" %}
 {% block content %}

{% include "../templates/layout/header-footer/header-inner-dark.html" %} 

<div class="zuzu-breadcrumb-section bg-gray-800 dark">
  <div class="container">
    {% include "../templates/components/breadcrumbs/breadcrumbs.html" %}
  </div>
</div>
<!-- End breadcrumb -->

<div class="section zuzu-section-padding dark-version bg-gray-500">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="zuzu-blog-wrap">
          <div class="zuzu-blog-thumb">
            <a href="single-dark-blog.html"><img src="assets/images/all-img/blog/blog1.png" alt=""></a>
            <div class="zuzu-blog-category">
              <a class="zuzu-btn btn-white rounded-pill" href="single-dark-blog.html">Business</a>
            </div>
          </div>
          <div class="zuzu-blog-content">
            <div class="zuzu-blog-meta">
              <ul>
                <li><a href="single-dark-blog.html"><img src="assets/images/svg/user-white.svg" alt="">By Smith Jones</a></li>
                <li><img src="assets/images/svg/comment-white.svg" alt="">03 Comments</li>
              </ul>
            </div>
            <a href="single-dark-blog.html"><h3>Diesel has unveiled the first phase of its long-term Web3 plans with NFT collective heap</h3></a>
            <p>Popular NFT collective Heap and Gen-Z favorite Diesel have collaborated to launch a brand-new series of digital collectibles in the Metaverse. Both labels will issue NFTs with...</p>
            <a class="zuzu-btn btn-deep-blue rounded-pill" href="single-dark-blog.html">Read More</a>
          </div>
        </div>
        <div class="zuzu-blog-wrap">
          <div class="zuzu-blog-thumb">
            <a href="single-dark-blog.html"><img src="assets/images/all-img/blog/blog2.png" alt=""></a>
            <div class="zuzu-blog-category">
              <a class="zuzu-btn btn-white rounded-pill" href="single-dark-blog.html">Business</a>
            </div>
          </div>
          <div class="zuzu-blog-content">
            <div class="zuzu-blog-meta">
              <ul>
                <li><a href="single-dark-blog.html"><img src="assets/images/svg/user-white.svg" alt="">By Smith Jones</a></li>
                <li><img src="assets/images/svg/comment-white.svg" alt="">03 Comments</li>
              </ul>
            </div>
            <a href="single-dark-blog.html"><h3>The Pokemon Company has sued an Australian crypto company over the Pokemon NFT game</h3></a>
            <p>The Pokémon Company International is taking Pokémon Pty Ltd to court over ads for a new NFT-based Pokémon mobile game, according to documents filed with the Federal...</p>
            <a class="zuzu-btn btn-deep-blue rounded-pill" href="single-dark-blog.html">Read More</a>
          </div>
        </div>
        <div class="zuzu-blog-wrap">
          <div class="zuzu-blog-thumb">
            <a href="single-dark-blog.html"><img src="assets/images/all-img/blog/blog3.png" alt=""></a>
            <div class="zuzu-blog-category">
              <a class="zuzu-btn btn-white rounded-pill" href="single-dark-blog.html">Business</a>
            </div>
          </div>
          <div class="zuzu-blog-content">
            <div class="zuzu-blog-meta">
              <ul>
                <li><a href="single-dark-blog.html"><img src="assets/images/svg/user-white.svg" alt="">By Smith Jones</a></li>
                <li><img src="assets/images/svg/comment-white.svg" alt="">03 Comments</li>
              </ul>
            </div>
            <a href="single-dark-blog.html"><h3>Yuga labs win landmark NFT infringement case against NFT giant Yuga Labs a sweeping victory Ryder ripps</h3></a>
            <p>The United District Court for the Central District of California granted NFT giant Yuga Labs a resounding victory over Ryder Ripps, the inventor of the Bored Ape Yacht Club ...</p>
            <a class="zuzu-btn btn-deep-blue rounded-pill" href="single-dark-blog.html">Read More</a>
          </div>
        </div>
        <div class="zuzu-pagination">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">
                    <img src="assets/images/svg/arrow-white-left.svg" alt="">
                  </span>
                </a>
              </li>
              <li class="page-item"><a class="page-link active" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true"><img src="assets/images/svg/arrow-white-right.svg" alt=""></span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="zuzu-blog-sidebar">
          <div class="zuzu-blog-sidebar-item">
            <form action="#">
              <div class="zuzu-product-search">
                <input type="search" placeholder="Type to search...">
                <button id="zuzu-search-btn"><img src="assets/images/svg/search-white.svg" alt=""></button>
              </div>
            </form>
          </div>
          <div class="zuzu-blog-sidebar-item">
            <div class="zuzu-sidebar-item-title">
              <h6>Blog Categories</h6>
            </div>
            <div class="zuzu-categories">
              <ul>
                <li><a href="">NFT News (86)</a></li>
                <li><a href="">Cryptocurrency (32)</a></li>
                <li><a href="">Digital Marketing (59)</a></li>
                <li><a href="">Blockchain (90)</a></li>
              </ul>
            </div>
          </div>
          <div class="zuzu-blog-sidebar-item">
            <div class="zuzu-sidebar-item-title">
              <h6>Recent Posts</h6>
            </div>
            <div class="zuzu-recent-post-item">
              <div class="zuzu-recent-post-thumb">
                <a href="single-dark-blog.html"><img src="assets/images/all-img/blog/recent-post1.png" alt=""></a>
              </div>
              <div class="zuzu-blog-category">
                <a class="zuzu-btn btn-white rounded-pill" href="single-dark-blog.html">Business</a>
              </div>
              <div class="zuzu-blog-meta">
                <ul>
                  <li><img src="assets/images/svg/calendar-white.svg" alt="">October 20, 2023</li>
                </ul>
              </div>
              <h6><a href="">Blockchain and government will they have live happily ever after trade crypto world?</a></h6>
            </div>
            <div class="zuzu-recent-post-item">
              <div class="zuzu-recent-post-thumb">
                <a href="single-dark-blog.html"><img src="assets/images/all-img/blog/recent-post2.png" alt=""></a>
              </div>
              <div class="zuzu-blog-category">
                <a class="zuzu-btn btn-white rounded-pill" href="single-dark-blog.html">Digital</a>
              </div>
              <div class="zuzu-blog-meta">
                <ul>
                  <li><img src="assets/images/svg/calendar-white.svg" alt="">October 18, 2023</li>
                </ul>
              </div>
              <h6><a href="">This season, syndicators and crowd funders are offering digital gifts to top participants</a></h6>
            </div>
            <div class="zuzu-recent-post-item">
              <div class="zuzu-recent-post-thumb">
                <a href="single-dark-blog.html"><img src="assets/images/all-img/blog/recent-post3.png" alt=""></a>
              </div>
              <div class="zuzu-blog-category">
                <a class="zuzu-btn btn-white rounded-pill" href="single-dark-blog.html">Artical</a>
              </div>
              <div class="zuzu-blog-meta">
                <ul>
                  <li><img src="assets/images/svg/calendar-white.svg" alt="">October 09, 2023</li>
                </ul>
              </div>
              <h6><a href="">Worlds beta, a 3D space for name holders, launched by decentraland for NFT</a></h6>
            </div>
          </div>
          <div class="zuzu-blog-sidebar-item">
            <div class="zuzu-sidebar-item-title">
              <h6>Tags</h6>
            </div>
            <div class="zuzu-tags">
              <ul>
                <li><a href="">Artical</a></li>
                <li><a href="">Business</a></li>
                <li><a href="">Digital</a></li>
                <li><a href="">Technology</a></li>
                <li><a href="">UI/UX</a></li>
                <li><a href="">Design</a></li>
                <li><a href="">NFT</a></li>
                <li><a href="">Crypto</a></li>
                <li><a href="">Finence</a></li>
                <li><a href="">Trends</a></li>
                <li><a href="">Web</a></li>
                <li><a href="">Asset</a></li>
              </ul>
            </div>
          </div>
          <div class="zuzu-blog-sidebar-item">
            <div class="zuzu-sidebar-item-title">
              <h6>Subscribe</h6>
            </div>
            <p>Subscribe to our newsletter and get the latest news updates lifetime</p>
            <form action="#">
              <div class="zuzu-blog-subscription">
                <input type="email" placeholder="Enter your email address">
                <button id="zuzu-buynow-btn" type="submit">Buy Now</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End section -->

<div class="zuzu-go-top">
	<img src="assets/images/svg/arrow-right-white.svg" alt="">
</div>

{% include "../templates/layout/header-footer/footer-inner-dark.html" %} 
  
{% endblock %}
