{% extends "layout/layout.html" %}
{% set page_title = "Single Careers" %}
 {% block content %}

{% include "../templates/layout/header-footer/header-extra.html" %} 

<div class="section">
  <div class="container">
    <div class="fugu-error-content wow fadeInUpX">
      <h1>404</h1>
      <h2>Oops, this page is not found</h2>
      <p>The page you're looking for can't be found. Double-check the URL and try again. we invite you to visit our homepage.</p>
      <a class="fugu-btn small-btn" href="index.html">Go To Homepage</a>
    </div>
  </div>
</div>

<div class="fugu-go-top">
	<img src="assets/images/svg/arrow-black-right.svg" alt="">
</div>

{% include "../templates/layout/header-footer/footer-one.html" %} 
  
{% endblock %}
