{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/header-05.html" %} 


<div class="zuzu-hero-section5">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <div class="zuzu-hero-content zuzu-hero-content5 zuzu-dark-content font-grotesk">
          <span>Discover the new world of Metaverse</span>
          <h1 class="wow fadeInUpX" data-wow-delay="0s">Explore, create and earn through the metaverse</h1>
          <p class="wow fadeInUpX" data-wow-delay="0.25s">The Metaverse is the bridge between physical and virtual worlds within the decentralized and open-source virtual world.</p>
          <div class="zuzu-hero-btn-wrap wow fadeInUpX" data-wow-delay="0.40s">
            <a class="zuzu-btn btn-deep-pink" href="contact.html">Discover Now</a>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="zuzu-hero-thumb5">
          <img src="assets/images/all-img/v5/hero-thumb.png" alt="">
          <div class="zuzu-hero-shape shape-one">
            <img src="assets/images/all-img/v5/start1.png" alt="">
          </div>
          <div class="zuzu-hero-shape shape-two">
            <img src="assets/images/all-img/v5/start2.png" alt="">
          </div>
          <div class="zuzu-hero-shape shape-three">
            <img src="assets/images/all-img/v5/world.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End hero section -->

<div class="zuzu-client-section bg-gray-500">
  <div class="container">
    <div class="zuzu-sm-title dark">
      <h5>Partner with top 100k+ companies in the world</h5>
    </div>
    <div class="zuzu-client-slider">
      <div class="zuzu-client-slider-item">
        <img src="assets/images/all-img/v5/client1.png" alt="">
      </div>
      <div class="zuzu-client-slider-item">
        <img src="assets/images/all-img/v5/client2.png" alt="">
      </div>
      <div class="zuzu-client-slider-item">
        <img src="assets/images/all-img/v5/client3.png" alt="">
      </div>
      <div class="zuzu-client-slider-item">
        <img src="assets/images/all-img/v5/client4.png" alt="">
      </div>
      <div class="zuzu-client-slider-item">
        <img src="assets/images/all-img/v5/client5.png" alt="">
      </div>
      <div class="zuzu-client-slider-item">
        <img src="assets/images/all-img/v5/client1.png" alt="">
      </div>
      <div class="zuzu-client-slider-item">
        <img src="assets/images/all-img/v5/client2.png" alt="">
      </div>
      <div class="zuzu-client-slider-item">
        <img src="assets/images/all-img/v5/client3.png" alt="">
      </div>
      <div class="zuzu-client-slider-item">
        <img src="assets/images/all-img/v5/client4.png" alt="">
      </div>
      <div class="zuzu-client-slider-item">
        <img src="assets/images/all-img/v5/client5.png" alt="">
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section bg-gray-500">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="zuzu-thumb wow fadeInUpX" data-wow-delay="0.2s">
          <img src="assets/images/all-img/v5/thumb1.png" alt="">
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center">
        <div class="zuzu-default-content dark font-grotesk margin_left">
          <h5> <span>Realization of unexpected expectations</span> </h5>
          <h2>Turn your imagination into reality in an instant</h2>
          <p>With thousands of virtual experiences and communities, you'll never run out of places to explore and people to meet. Music clubs, roleplaying communities, virtual cinemas & more.</p>
          <p>Zuzu will provide an unprecedented VR experience for allows users to buy land inside the world, do more exciting activities</p>
          <div class="zuzu-btn-wrap">
            <a class="zuzu-btn btn-deep-pink" href="contact.html">Discover More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section bg-gray-500 zuzu-section-padding3 position-relative">
  <div class="container">
    <div class="zuzu-section-title">
      <div class="zuzu-default-content dark font-grotesk">
        <h5> <span>What can you do in the metaverse?</span> </h5>
        <h2>Metaverse offers a variety of activities for users</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="zuzu-iconbox-wrap6 wow fadeInUpX" data-wow-delay="0s">
          <div class="zuzu-iconbox-icon6">
            <img src="assets/images/all-img/v5/icon1.svg" alt="">
          </div>
          <div class="zuzu-iconbox-data6">
            <h4>Customize your avatar</h4>
            <p>Your avatar represents you in the metaverse. You’re free to alter your body type, hair, gender — you can even appear as a fictional character.</p>
            <a class="zuzu-icon-btn" href="">
              Discover More 
              <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.29289 0.292893C8.68342 -0.0976311 9.31658 -0.0976311 9.70711 0.292893L15.7071 6.29289C16.0976 6.68342 16.0976 7.31658 15.7071 7.70711L9.70711 13.7071C9.31658 14.0976 8.68342 14.0976 8.29289 13.7071C7.90237 13.3166 7.90237 12.6834 8.29289 12.2929L12.5858 8L1 8C0.447716 8 0 7.55229 0 7C0 6.44772 0.447716 6 1 6H12.5858L8.29289 1.70711C7.90237 1.31658 7.90237 0.683418 8.29289 0.292893Z" fill="white"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="zuzu-iconbox-wrap6 wow fadeInUpX" data-wow-delay=".20s">
          <div class="zuzu-iconbox-icon6">
            <img src="assets/images/all-img/v5/icon2.svg" alt="">
          </div>
          <div class="zuzu-iconbox-data6">
            <h4>Create VR experiences</h4>
            <p>Some metaverse platforms, like Horizon Worlds, have pre-built layouts that let you create custom hangout rooms or gaming experiences.</p>
            <a class="zuzu-icon-btn" href="">
              Discover More 
              <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.29289 0.292893C8.68342 -0.0976311 9.31658 -0.0976311 9.70711 0.292893L15.7071 6.29289C16.0976 6.68342 16.0976 7.31658 15.7071 7.70711L9.70711 13.7071C9.31658 14.0976 8.68342 14.0976 8.29289 13.7071C7.90237 13.3166 7.90237 12.6834 8.29289 12.2929L12.5858 8L1 8C0.447716 8 0 7.55229 0 7C0 6.44772 0.447716 6 1 6H12.5858L8.29289 1.70711C7.90237 1.31658 7.90237 0.683418 8.29289 0.292893Z" fill="white"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="zuzu-iconbox-wrap6 wow fadeInUpX" data-wow-delay=".30s">
          <div class="zuzu-iconbox-icon6">
            <img src="assets/images/all-img/v5/icon3.svg" alt="">
          </div>
          <div class="zuzu-iconbox-data6">
            <h4>Invest in digital real estate</h4>
            <p>Blocks of land called parcels in metaverse platforms can be purchased with cryptocurrency, and then sold or leased by their owners.</p>
            <a class="zuzu-icon-btn" href="">
              Discover More 
              <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.29289 0.292893C8.68342 -0.0976311 9.31658 -0.0976311 9.70711 0.292893L15.7071 6.29289C16.0976 6.68342 16.0976 7.31658 15.7071 7.70711L9.70711 13.7071C9.31658 14.0976 8.68342 14.0976 8.29289 13.7071C7.90237 13.3166 7.90237 12.6834 8.29289 12.2929L12.5858 8L1 8C0.447716 8 0 7.55229 0 7C0 6.44772 0.447716 6 1 6H12.5858L8.29289 1.70711C7.90237 1.31658 7.90237 0.683418 8.29289 0.292893Z" fill="white"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="zuzu-iconbox-wrap6 wow fadeInUpX" data-wow-delay=".40s">
          <div class="zuzu-iconbox-icon6">
            <img src="assets/images/all-img/v5/icon4.svg" alt="">
          </div>
          <div class="zuzu-iconbox-data6">
            <h4>Collaborate with co-workers</h4>
            <p>The metaverse hosts remote working environments with virtual collaboration tools such as virtual and meeting rooms, infinite white boards.</p>
            <a class="zuzu-icon-btn" href="">
              Discover More 
              <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.29289 0.292893C8.68342 -0.0976311 9.31658 -0.0976311 9.70711 0.292893L15.7071 6.29289C16.0976 6.68342 16.0976 7.31658 15.7071 7.70711L9.70711 13.7071C9.31658 14.0976 8.68342 14.0976 8.29289 13.7071C7.90237 13.3166 7.90237 12.6834 8.29289 12.2929L12.5858 8L1 8C0.447716 8 0 7.55229 0 7C0 6.44772 0.447716 6 1 6H12.5858L8.29289 1.70711C7.90237 1.31658 7.90237 0.683418 8.29289 0.292893Z" fill="white"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="zuzu-iconbox-wrap6 wow fadeInUpX" data-wow-delay=".40s">
          <div class="zuzu-iconbox-icon6">
            <img src="assets/images/all-img/v5/icon5.svg" alt="">
          </div>
          <div class="zuzu-iconbox-data6">
            <h4>Play VR games</h4>
            <p>Many of today’s metaverse platforms developed and from games, and VR gaming is still one of the main uses of the metaverse. </p>
            <a class="zuzu-icon-btn" href="">
              Discover More 
              <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.29289 0.292893C8.68342 -0.0976311 9.31658 -0.0976311 9.70711 0.292893L15.7071 6.29289C16.0976 6.68342 16.0976 7.31658 15.7071 7.70711L9.70711 13.7071C9.31658 14.0976 8.68342 14.0976 8.29289 13.7071C7.90237 13.3166 7.90237 12.6834 8.29289 12.2929L12.5858 8L1 8C0.447716 8 0 7.55229 0 7C0 6.44772 0.447716 6 1 6H12.5858L8.29289 1.70711C7.90237 1.31658 7.90237 0.683418 8.29289 0.292893Z" fill="white"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="zuzu-iconbox-wrap6 wow fadeInUpX" data-wow-delay=".40s">
          <div class="zuzu-iconbox-icon6">
            <img src="assets/images/all-img/v5/icon6.svg" alt="">
          </div>
          <div class="zuzu-iconbox-data6">
            <h4>Sell in-game assets</h4>
            <p>Metaverse economy by creating and selling in-game assets such as avatar skins, accessories, & gaming aids in a digital marketplace.</p>
            <a class="zuzu-icon-btn" href="">
              Discover More 
              <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.29289 0.292893C8.68342 -0.0976311 9.31658 -0.0976311 9.70711 0.292893L15.7071 6.29289C16.0976 6.68342 16.0976 7.31658 15.7071 7.70711L9.70711 13.7071C9.31658 14.0976 8.68342 14.0976 8.29289 13.7071C7.90237 13.3166 7.90237 12.6834 8.29289 12.2929L12.5858 8L1 8C0.447716 8 0 7.55229 0 7C0 6.44772 0.447716 6 1 6H12.5858L8.29289 1.70711C7.90237 1.31658 7.90237 0.683418 8.29289 0.292893Z" fill="white"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="zuzu-shape1">
    <img src="assets/images/shape/shape1.png" alt="">
  </div>
</div>
<!-- End section -->

<div class="section bg-gray-500">
  <div class="zuzu-text-slider">
      <div class="zuzu-text-slider-data zuzu-text-slider-data2">
        <div class="zuzu-text-slider-icon icon-rotate">
          <img src="assets/images/all-img/v5/start3.png" alt="">
        </div>
        <h2>Explore, create & earn to try</h2>
      </div>
      <div class="zuzu-text-slider-data zuzu-text-slider-data2">
        <div class="zuzu-text-slider-icon icon-rotate">
          <img src="assets/images/all-img/v5/start3.png" alt="">
        </div>
        <h2>Explore, create & earn to try</h2>
      </div>
      <div class="zuzu-text-slider-data zuzu-text-slider-data2">
        <div class="zuzu-text-slider-icon icon-rotate">
          <img src="assets/images/all-img/v5/start3.png" alt="">
        </div>
        <h2>Explore, create & earn to try</h2>
      </div>
  </div>
</div>
<!-- End nexto text slider section -->

<div class="section bg-gray-500 zuzu-section-padding2">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-lg-2">
        <div class="zuzu-thumb wow fadeInUpX" data-wow-delay="0.2s">
          <img src="assets/images/all-img/v5/thumb2.png" alt="">
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center">
        <div class="zuzu-default-content dark font-grotesk">
          <h5> <span>Can you use the metaverse now?</span> </h5>
          <h2>Metaverse is currently a revolutionary network</h2>
          <div class="zuzu-tab">
            <ul class="nav nav-pills" id="pills-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Explore</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Create</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Trade</button>
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">The metaverse is an open, shared and persistent virtual world with multiple digital spaces that allow users to avail various to services and experiences. Users can enter the metaverse the form of digital avatars complemented with VR/AR.</div>
              <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">The metaverse is an open, shared and persistent virtual world with multiple digital spaces that allow users to avail various to services and experiences. </div>
              <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">The metaverse is an open, shared and persistent virtual world with multiple digital spaces that allow users to avail various to services and experiences. Users can enter the metaverse the form of digital avatars complemented with VR/AR.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="bg-gray-500 position-relative">
  <div class="container">
    <div class="zuzu-section-title">
      <div class="zuzu-default-content dark font-grotesk">
        <h5><span>A new world is waiting</span></h5>
        <h2>See the metaverse as an <br/> ever-changing reality</h2>
      </div>
    </div>
    <div class="zuzu-video-thumb wow fadeInUpX m-0" data-wow-delay=".10s">
      <img src="assets/images/all-img/v5/video-thumb.png" alt="">
      <a class="zuzu-popup" href="https://www.youtube.com/watch?v=7e90gBu4pas">
        <img src="assets/images/all-img/v5/play-button.png" alt="">
        <div class="waves waves2 wave-1"></div>
        <div class="waves waves2 wave-2"></div>
        <div class="waves waves2 wave-3"></div>
      </a>
    </div>
  </div>
  <div class="zuzu-shape2">
    <img src="assets/images/shape/shape2.png" alt="">
  </div>
</div>
<!-- End section -->

<div class="section bg-gray-500 zuzu-section-padding6 position-relative">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="zuzu-default-content dark font-grotesk m_right">
          <h5><span>Popular questions answered</span></h5>
          <h2>Let us know if you have any questions about Metaverse</h2>
          <p>It’s still difficult to pin down a metaverse definition, because it’s not an actual technology. The metaverse refers instead to a shift in how we interact with technology.</p>
          <div class="zuzu-btn-wrap">
            <a class="zuzu-btn btn-deep-pink" href="contact.html">Ask Questions</a>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="zuzu--accordion-one accordion-two accordion-six accordion-eight" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                When will the metaverse be released?
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Since the metaverse already exists in the highly immersive world of gaming, there’s technically no metaverse release date. Among other things, interactive entertainment.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                What’s the origin of the metaverse?
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Since the metaverse already exists in the highly immersive world of gaming, there’s technically no metaverse release date. Among other things, interactive entertainment.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                How to access the metaverse VR headset
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Since the metaverse already exists in the highly immersive world of gaming, there’s technically no metaverse release date. Among other things, interactive entertainment.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="zuzu-shape3">
    <img src="assets/images/shape/shape3.png" alt="">
  </div>
</div>
<!-- End section -->


<div class="section bg-gray-500">
  <div class="container">
    <div class="zuzu-cta3-wrap">
      <div class="zuzu-section-title mb-0">
        <div class="zuzu-default-content dark font-grotesk">
          <h5><span>Explore the virtual world</span></h5>
          <h2>Let's explore the virtual world through Metaverse</h2>
          <div class="zuzu-btn-wrap wow fadeInUpX" data-wow-delay="0.20s">
            <a class="zuzu-btn btn-deep-pink" href="contact.html">Discover More</a>
          </div>
        </div>
      </div>
      <div class="zuzu-shape4">
        <img src="assets/images/shape/shape4.png" alt="">
      </div>
      <div class="zuzu-shape5">
        <img src="assets/images/all-img/v5/world2.png" alt="">
      </div>
      <div class="zuzu-cta-star">
        <img src="assets/images/all-img/v5/start1.png" alt="">
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="zuzu-go-top">
	<img src="assets/images/svg/arrow-right-white.svg" alt="">
</div>

{% include "../templates/layout/header-footer/footer-05.html" %} 
  
{% endblock %}
