{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/header-03.html" %} 


<div class="zuzu-hero-section3">
  <div class="container">
    <div class="zuzu-hero-content zuzu-dark-content zuzu-hero-content3 font-syne">
      <h1 class="wow fadeInUpX" data-wow-delay="0s">Blockchain platform for next-generation creators</h1>
      <p class="wow fadeInUpX" data-wow-delay="0.25s">We are a private decentralized blockchain platform that supports innovative financial instruments like decentralized applications & NFTs. It can be considered a modern variation of trading cards tied to digital assets.</p>
      <div class="zuzu-hero-btn-wrap justify-content-center wow fadeInUpX" data-wow-delay="0.40s">
        <a class="zuzu-btn active gradient text-white"href="contact.html">Request Invite</a>
        <a class="zuzu-btn gradient bg-gray-800 text-white" href="contact.html">Discover More</a>
      </div>
    </div>
  </div>
  <div class="zuzu-hero-box box1">
    <img src="assets/images/all-img/v3/box.png" alt="">
  </div>
  <div class="zuzu-hero-box box2">
    <img src="assets/images/all-img/v3/box.png" alt="">
  </div>
</div>
<!-- End hero section -->

<div class="section bg-gray-500 zuzu-section-padding3">
  <div class="container">
    <div class="zuzu-section-column">
      <div class="row">
        <div class="col-lg-6">
          <div class="zuzu--default-content content-sm default-content7">
            <h2>Key features that make blockchain more attractive</h2>
          </div>
        </div>
        <div class="col-lg-5 offset-lg-1">
          <div class="zuzu--default-content content-sm default-content7">
            <p>Blockchain is an especially promising and revolutionary a technology because it helps reduce security risks, stamp out fraud and bring transparency in a scalable way.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="zuzu-iconbox-wrap9 active wow fadeInUpX" data-wow-delay="0s">
          <div class="zuzu-iconbox-icon9">
            <img src="assets/images/all-img/v3/icon1.png" alt="">
          </div>
          <div class="zuzu-iconbox-data9">
            <h4>Increased Capacity</h4>
            <p>This is the first & an important feature of Blockchain. The most remarkable thing about this Blockchain.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="zuzu-iconbox-wrap9 wow fadeInUpX" data-wow-delay="0.1s">
          <div class="zuzu-iconbox-icon9">
            <img src="assets/images/all-img/v3/icon2.png" alt="">
          </div>
          <div class="zuzu-iconbox-data9">
            <h4>Better Security</h4>
            <p>Blockchain technology is considered more secure than its contemporaries because of lack of a single point.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="zuzu-iconbox-wrap9 active wow fadeInUpX" data-wow-delay="0.2s">
          <div class="zuzu-iconbox-icon9">
            <img src="assets/images/all-img/v3/icon3.png" alt="">
          </div>
          <div class="zuzu-iconbox-data9">
            <h4>Immutability</h4>
            <p>Creating immutable ledgers is one of the main values of Blockchain. Any database that is centralized.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="zuzu-iconbox-wrap9 wow fadeInUpX" data-wow-delay="0.3s">
          <div class="zuzu-iconbox-icon9">
            <img src="assets/images/all-img/v3/icon4.png" alt="">
          </div>
          <div class="zuzu-iconbox-data9">
            <h4>Faster Settlement</h4>
            <p>Traditional banking systems are very a unbelievably slow, probably because of they require a settlement time.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="zuzu-iconbox-wrap9 active wow fadeInUpX" data-wow-delay="0.4s">
          <div class="zuzu-iconbox-icon9">
            <img src="assets/images/all-img/v3/icon5.png" alt="">
          </div>
          <div class="zuzu-iconbox-data9">
            <h4>Decentralized System</h4>
            <p>Decentralized technology gives you the ability to store your assets on a network without the oversight.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="zuzu-iconbox-wrap9 wow fadeInUpX" data-wow-delay="0.5s">
          <div class="zuzu-iconbox-icon9">
            <img src="assets/images/all-img/v3/icon6.png" alt="">
          </div>
          <div class="zuzu-iconbox-data9">
            <h4>Consensus Oriented</h4>
            <p>The consensus algorithm is an integral feature of every blockchain and indeed is a defining characteristic.</p>
          </div>
        </div>
      </div>
    </div>
    
    
  </div>
</div>
<!-- End section -->

<div class="section bg-gray-500">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="zuzu-earth-thumb zuzu-tilt wow fadeInUpX" data-wow-delay=".10s">
          <img src="assets/images/all-img/v3/earth.png" alt="">
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center">
        <div class="zuzu--default-content content-sm default-content7">
          <h2>Especially promising and revolutionary technologies</h2>
          <p>Blockchain is an especially promising and revolutionary technology because it helps reduce security risks, stamp out fraud and bring transparency in a scalable way.</p>
          <p>Popularized by its association with cryptocurrency & NFTs blockchain technology has since evolved to become a management solution.</p>
          <div class="zuzu-btn-wrap">
            <a class="zuzu--btn active gradient text-white"href="contact.html">Discover More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section bg-gray-500 zuzu-section-padding2">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-lg-2 d-lg-flex justify-content-lg-end">
        <div class="zuzu-earth-thumb wow fadeInUpX" data-wow-delay=".10s">
          <img src="assets/images/all-img/v3/earth2.png" alt="">
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center">
        <div class="zuzu--default-content content-sm default-content7">
          <h2>Blockchain is significant in the modern business world</h2>
          <p>10% of the global population own cryptocurrencies. 16% of Americans have invested in cryptocurrency. Using blockchain, financial institutions can save up to $12 billion every year.</p>
          <div class="zuzu--accordion-one accordion-two accordion-six" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Building trust
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Bitcoin and cryptocurrencies, in general, are iconic examples of how blockchain builds trust between entities & also customers.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Reducing costs
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Bitcoin and cryptocurrencies, in general, are iconic examples of how blockchain builds trust between entities & also customers.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Bringing innovation
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Bitcoin and cryptocurrencies, in general, are iconic examples of how blockchain builds trust between entities & also customers.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="bg-gray-500">
  <div class="container">
    <div class="zuzu-section-title">
      <div class="zuzu--default-content content-sm default-content7">
        <h2>Watch this video to see how easy it is to use blockchain</h2>
      </div>
    </div>
    <div class="zuzu--video-thumb wow fadeInUpX m-0" data-wow-delay=".10s">
      <img src="assets/images/all-img/v3/video-thumb.png" alt="">
      <a class="zuzu-popup" href="https://www.youtube.com/watch?v=7e90gBu4pas">
        <img src="assets/images/all-img/v3/play-button.png" alt="">
        <div class="waves waves7 wave-1"></div>
        <div class="waves waves7 wave-2"></div>
        <div class="waves waves7 wave-3"></div>
      </a>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section bg-gray-500 zuzu-section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="zuzu-earth-thumb wow fadeInUpX" data-wow-delay=".10s">
          <img src="assets/images/all-img/v3/hand.png" alt="">
          <div class="zuzu-animation-circle">
            <img src="assets/images/all-img/v3/circle.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-6 offset-lg-1 d-flex align-items-center">
        <div class="zuzu--default-content content-sm default-content7">
          <h2>Ensure maximum security of your digital asset forever</h2>
          <p>It is safe and ideal for storing digital assets, it is very decentralized nature. By using cryptographic hashes, each asset can be securely stored on the blockchain and tracked as it changes hands. </p>
          <p>Blockchains are the technology solutions that enable digital assets. A real blockchain is a method of securely recording on a peer-to-peer network.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="bg-gray-500 position-relative">
  <div class="container">
    <div class="zuzu-section-title large">
      <div class="zuzu--default-content content-sm default-content7">
        <h2>Globally recognized and trusted blockchain technology</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="zuzu-map-thumb">
          <img src="assets/images/all-img/v3/map.png" alt="">
          <div class="zuzu-t-user t-user1">
            <img src="assets/images/all-img/v3/t_1.png" alt="">
          </div>
          <div class="zuzu-t-user t-user2">
            <img src="assets/images/all-img/v3/t_2.png" alt="">
          </div>
          <div class="zuzu-t-user t-user3">
            <img src="assets/images/all-img/v3/t_3.png" alt="">
          </div>
          <div class="zuzu-t-user t-user4">
            <img src="assets/images/all-img/v3/t_4.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1">
        <div class="zuzu-testimonial-content-v7">
          <div class="zuzu--testimonial-rating">
            <ul>
              <li><img src="assets/images/svg/star3.svg" alt=""></li>
              <li><img src="assets/images/svg/star3.svg" alt=""></li>
              <li><img src="assets/images/svg/star3.svg" alt=""></li>
              <li><img src="assets/images/svg/star3.svg" alt=""></li>
              <li><img src="assets/images/svg/star3.svg" alt=""></li>
            </ul>
          </div>
          <p>“Blockchain wallet is my first choice because their work team is respectable people and on the other hand it has always been trusted and safe for my funds.</p>
          <p>And two days ago I needed help from the support team aware in some of the things related to the blockchain.”</p>
          <h5>Karen Lynn</h5>
          <span>Founder @ Company</span>
        </div>
      </div>
    </div>
    <div class="zuzu-testimonial-buttonv7">
      <a class="zuzu--btn active gradient text-white"href="contact.html">View All Reviews</a>
    </div>
  </div>
  <div class="zuzu-hero-box box3">
    <img src="assets/images/all-img/v3/box.png" alt="">
  </div>
  <div class="zuzu-hero-box box4">
    <img src="assets/images/all-img/v3/box.png" alt="">
  </div>
</div>
<!-- End section -->

<div class="section bg-gray-500 zuzu-section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="zuzu--default-content content-sm default-content7">
          <h2>Answers to some common question about blockchain</h2>
          <p>Blockchain is the latest buzz words in the market. Bitcoin is great, but the potential of the underlying technology is immense.</p>
          <div class="zuzu-btn-wrap wow fadeInUpX" data-wow-delay=".10s">
            <a class="zuzu--btn active gradient text-white"href="contact.html">Discover More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1">
        <div class="zuzu--accordion-one accordion-two accordion-six" id="accordionExample2">
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading1">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                What do you know about Blockchain?
              </button>
            </h2>
            <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1" data-bs-parent="#accordionExample2">
              <div class="accordion-body">
                The blockchain is a decentralized distributed database of immutable records. The technology was discovered with the invention of Bitcoins(the first cryptocurrency).
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading2">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                Why is Blockchain a trusted approach?
              </button>
            </h2>
            <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#accordionExample2">
              <div class="accordion-body">
                The blockchain is a decentralized distributed database of immutable records. The technology was discovered with the invention of Bitcoins(the first cryptocurrency).
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading3">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                What are the properties of Blockchain?
              </button>
            </h2>
            <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordionExample2">
              <div class="accordion-body">
                The blockchain is a decentralized distributed database of immutable records. The technology was discovered with the invention of Bitcoins(the first cryptocurrency).
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
<!-- End section -->

<div class="section bg-gray-500">
  <div class="container">
    <div class="zuzu-newsletter-wrap">
      <div class="zuzu--default-content content-sm default-content7">
        <h2>Join our community of faith centered blockchain enthusiasts</h2>
        <div class="zuzu-newsletter-field wow fadeInUpX" data-wow-delay=".10s">
          <input type="email" placeholder="Type your email here">
          <button id="zuzu-newsletter-btn" type="submit">Subscribe</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="zuzu-go-top">
	<img src="assets/images/svg/arrow-right-white.svg" alt="">
</div>

{% include "../templates/layout/header-footer/footer-03.html" %} 
  
{% endblock %}
