{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/header-01.html" %} 


<div class="zuzu-hero-section bg-cover" style="background-image: url(assets/images/all-img/v1/hero-bg.png)">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex align-items-center">
        <div class="zuzu-hero-content zuzu-dark-content font-cabin">
          <h1 class="wow fadeInUpX" data-wow-delay="0s">The world's most advanced virtual crypto card</h1>
          <p class="wow fadeInUpX" data-wow-delay="0.25s">Crypto credit cards allow cardholders to earn rewards in bitcoin, ether, and other cryptocurrencies rather than traditional points, & up to 12% cryptocurrency rewards on all spending.</p>
          <div class="zuzu-hero-btn-wrap">
            <a class="zuzu-btn btn-white pill wow fadeInUpX"href="contact.html" data-wow-delay="0.40s">Get started now</a>
            <a class="zuzu-popup zuzu-popup-hero" href="https://www.youtube.com/watch?v=7e90gBu4pas">
              <img src="assets/images/all-img/v1/play-button.png" alt="">
              <div class="waves wave-1"></div>
              <div class="waves wave-2"></div>
              <div class="waves wave-3"></div>
              How it works
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="zuzu-hero-card1">
          <img src="assets/images/all-img/v1/card01.png" alt="">
        </div>
        <div class="zuzu-hero-card2">
          <img src="assets/images/all-img/v1/card02.png" alt="">
        </div>
      </div>
      
    </div>
    
  </div>
  
</div>
<!-- End hero section -->

<a class="zuzu-btn" href="">jihad</a>


<div class="zuzu-go-top">
	<img src="assets/images/svg/arrow-right-white.svg" alt="">
</div>

{% include "../templates/layout/header-footer/footer-01.html" %} 
  
{% endblock %}
