{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/header-05.html" %} 


<div class="zuzu-hero-section5 bg-gray-500">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <div class="zuzu-hero-content zuzu-hero-content5 zuzu-dark-content font-grotesk">
          <span>Discover the new world of Metaverse</span>
          <h1 class="wow fadeInUpX" data-wow-delay="0s">Explore, create and earn through the metaverse</h1>
          <p class="wow fadeInUpX" data-wow-delay="0.25s">The Metaverse is the bridge between physical and virtual worlds within the decentralized and open-source virtual world.</p>
          <div class="zuzu-hero-btn-wrap wow fadeInUpX" data-wow-delay="0.40s">
            <a class="zuzu-btn btn-deep-pink" href="contact.html">Discover Now</a>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="zuzu-hero-thumb5">
          <img src="assets/images/all-img/v5/hero-thumb.png" alt="">
          <div class="zuzu-hero-shape shape-one">
            <img src="assets/images/all-img/v5/start1.png" alt="">
          </div>
          <div class="zuzu-hero-shape shape-two">
            <img src="assets/images/all-img/v5/start2.png" alt="">
          </div>
          <div class="zuzu-hero-shape shape-three">
            <img src="assets/images/all-img/v5/world.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End hero section -->



<div class="zuzu-go-top">
	<img src="assets/images/svg/arrow-right-white.svg" alt="">
</div>

{% include "../templates/layout/header-footer/footer-05.html" %} 
  
{% endblock %}
