{% extends "layout/layout.html" %}
{% set page_title = "Portfolio Modern" %}
 {% block content %}

{% include "../templates/layout/header-footer/header-one.html" %} 

<div class="fugu-breadcrumb-section">
  <div class="container">
    {% include "../templates/components/breadcrumbs/breadcrumbs.html" %}
  </div>
  <div class="fugu-shape8">
    <img src="assets/images/shape/shape7.png" alt="">
  </div>
  <div class="fugu-shape9">
    <img src="assets/images/shape/shape8.png" alt="">
  </div>
</div>
<!-- End breadcrumb -->

<div class="section fugu-section-padding">
  <div class="container">
    <div class="fugu-gallery-menu">
      <ul id="watch-filter-gallery" class="option-set clear-both" data-option-key="filter">
        <li class="active" data-option-value="*">All Projects (35)</li>
        <li class="" data-option-value=".branding">Branding (10)</li>
        <li class="" data-option-value=".commercial">Commercial (08)</li>
        <li class="" data-option-value=".digital">Digital Art (12)</li>
        <li class="" data-option-value=".design">UI/UX Design (05)</li>
      </ul>
    </div>
    <div class="fugu-gallery-wrap3" id="fugu-gallery-masonay3">
      <div class="fugu-grid-item branding border_bottom wow fadeInUpX" data-wow-delay="0s">
        <div class="row">
          <div class="col-lg-12">
            <div class="fugu-gallery-thumb">
              <img src="assets/images/all-img/portfolio/p3/p1.png" alt="">
            </div>
          </div>
          <div class="col-lg-9">
            <div class="fugu-gallery-data3">
              <h4>Artwork wall printing</h4>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
              <a class="fugu-icon-btn" href="single-portfolio.html">Discover More <img src="assets/images/svg/arrow-black-right.svg" alt=""></a>
            </div>
          </div>
        </div>
      </div>
      <div class="fugu-grid-item commercial border_bottom wow fadeInUpX" data-wow-delay=".10s">
        <div class="row">
          <div class="col-lg-7">
            <div class="fugu-gallery-thumb">
              <img src="assets/images/all-img/portfolio/p3/p2.png" alt="">
            </div>
          </div>
          <div class="col-lg-5 d-flex align-items-center">
            <div class="fugu-gallery-data3">
              <h4>Crypto coin</h4>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
              <a class="fugu-icon-btn" href="single-portfolio.html">Discover More <img src="assets/images/svg/arrow-black-right.svg" alt=""></a>
            </div>
          </div>
        </div>
      </div>
      <div class="fugu-grid-item digital border_bottom wow fadeInUpX" data-wow-delay=".20s">
        <div class="row">
          <div class="col-lg-7 order-lg-2">
            <div class="fugu-gallery-thumb">
              <img src="assets/images/all-img/portfolio/p3/p3.png" alt="">
            </div>
          </div>
          <div class="col-lg-5 d-flex align-items-center">
            <div class="fugu-gallery-data3">
              <h4>Primitive culture</h4>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
              <a class="fugu-icon-btn" href="single-portfolio.html">Discover More <img src="assets/images/svg/arrow-black-right.svg" alt=""></a>
            </div>
          </div>
        </div>
      </div>
      <div class="fugu-grid-item design border_bottom wow fadeInUpX" data-wow-delay=".30s">
        <div class="row">
          <div class="col-lg-12">
            <div class="fugu-gallery-thumb">
              <img src="assets/images/all-img/portfolio/p3/p4.png" alt="">
            </div>
          </div>
          <div class="col-lg-9">
            <div class="fugu-gallery-data3">
              <h4>Wild animal artwork</h4>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
              <a class="fugu-icon-btn" href="single-portfolio.html">Discover More <img src="assets/images/svg/arrow-black-right.svg" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fugu-portfolio-btn">
      <a class="fugu-btn small-btn" href="">View All</a>
    </div>
  </div>
</div>
<!-- End portfolio -->

<div class="fugu-go-top">
	<img src="assets/images/svg/arrow-black-right.svg" alt="">
</div>


  {% include "../templates/layout/header-footer/footer-one.html" %} 
  
{% endblock %}
