{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/header-three.html" %} 

<div class="fugu--inner-section dark-version">
  <div class="container">
    <div class="fugu--breadcrumbs-section">
      <div class="fugu--breadcrumbs-data center-content">
        <h1>Strategy pricing plans that we offer to our clients</h1>
      </div>
    </div>
    <!-- End breadcrumb -->

    <div class="section fugu-pricing-dark">
      <div class="container">
        <div class="pricing-btn d-flex align-items-center justify-content-center flex-wrap ">
          <label class="mb-3 mb-lg-0">Billed Annually</label>
          <div class="toggle-btn form-check form-switch  mb-2 mb-lg-0">
            <input class="form-check-input btn-toggle price-deck-trigger mb-2 mb-lg-0" type="checkbox" id="flexSwitchCheckDefault" data-pricing-trigger data-target="#table-price-value" checked>
          </div>
          <label class="mb-3 mb-lg-0">Billed Monthly</label>
        </div>
        <div class="row" id="table-price-value" data-pricing-dynamic data-value-active="monthly">
          <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6">
            <div class="fugu-pricing-wrap fugu-pricing-wrap3 wow fadeInUpX" data-wow-delay="0s">
              <div class="fugu-pricing-header">
                <h5>Basic</h5>
              </div>
              <div class="fugu-pricing-price">
                <span class="fugu-pricing-currency">$</span>
                <div class="fugu-price dynamic-value" data-active="0" data-monthly="0" data-yearly="0"></div>
                <p class="bottom_text dynamic-value" data-active="/m" data-monthly="/m" data-yearly="/y"></p>
              </div>
              <p>Suitable for small companies and personal use</p>
              <div class="fugu-pricing-body">
                <span>What you get:</span>
                <ul>
                  <li><img src="assets/images/svg/check6.svg" alt="">Real-time crypto trading</li>
                  <li><img src="assets/images/svg/check6.svg" alt="">1-year standard support</li>
                  <li><img src="assets/images/svg/check6.svg" alt="">Trading up to $100K</li>
                  <li class="disable"><img src="assets/images/svg/check6.svg" alt="">10 GB Disk space</li>
                  <li class="disable"><img src="assets/images/svg/check6.svg" alt="">Free custom domain</li>
                </ul>
              </div>
              <a class="fugu--outline-btn m-0" href=""><span>Choose the plan</span></a>
            </div>
          </div>
          <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6">
            <div class="fugu-pricing-wrap fugu-pricing-wrap3 wow fadeInUpX" data-wow-delay=".10s">
              <div class="fugu-pricing-header">
                <h5>Starter Plan</h5>
              </div>
              <div class="fugu-pricing-price">
                <span class="fugu-pricing-currency">$</span>
                <div class="fugu-price dynamic-value" data-active="19" data-monthly="19" data-yearly="199"></div>
                <p class="bottom_text dynamic-value" data-active="/m" data-monthly="/m" data-yearly="/y"></p>
              </div>
              <p>Suitable for small companies and personal use</p>
              <div class="fugu-pricing-body">
                <span>What you get:</span>
                <ul>
                  <li><img src="assets/images/svg/check6.svg" alt="">Real-time crypto trading</li>
                  <li><img src="assets/images/svg/check6.svg" alt="">5-year standard support</li>
                  <li><img src="assets/images/svg/check6.svg" alt="">Trading up to $500K</li>
                  <li><img src="assets/images/svg/check6.svg" alt="">10 GB Disk space</li>
                  <li class="disable"><img src="assets/images/svg/check6.svg" alt="">Free custom domain</li>
                </ul>
              </div>
              <a class="fugu--outline-btn m-0" href=""><span>Choose the plan</span></a>
            </div>
          </div>
          <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6">
            <div class="fugu-pricing-wrap fugu-pricing-wrap3 wow fadeInUpX" data-wow-delay=".20s">
              <div class="fugu-pricing-header">
                <h5>Professional Plan</h5>
              </div>
              <div class="fugu-pricing-price">
                <span class="fugu-pricing-currency">$</span>
                <div class="fugu-price dynamic-value" data-active="49" data-monthly="49" data-yearly="250"></div>
                <p class="bottom_text dynamic-value" data-active="/m" data-monthly="/m" data-yearly="/y"></p>
              </div>
              <p>Suitable for small companies and personal use</p>
              <div class="fugu-pricing-body">
                <span>What you get:</span>
                <ul>
                  <li><img src="assets/images/svg/check6.svg" alt="">Real-time crypto trading</li>
                  <li><img src="assets/images/svg/check6.svg" alt="">10-year standard support</li>
                  <li><img src="assets/images/svg/check6.svg" alt="">Trading up to $800K</li>
                  <li><img src="assets/images/svg/check6.svg" alt="">50 GB Disk space</li>
                  <li class="disable"><img src="assets/images/svg/check6.svg" alt="">Free custom domain</li>
                </ul>
              </div>
              <a class="fugu--outline-btn m-0" href=""><span>Choose the plan</span></a>
            </div>
          </div>
          <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6">
            <div class="fugu-pricing-wrap fugu-pricing-wrap3 wow fadeInUpX" data-wow-delay=".30s">
              <div class="fugu-pricing-header">
                <h5>Exclusive Plan</h5>
              </div>
              <div class="fugu-pricing-price">
                <span class="fugu-pricing-currency">$</span>
                <div class="fugu-price dynamic-value" data-active="119" data-monthly="119" data-yearly="299"></div>
                <p class="bottom_text dynamic-value" data-active="/m" data-monthly="/m" data-yearly="/y"></p>
              </div>
              <p>Suitable for small companies and personal use</p>
              <div class="fugu-pricing-body">
                <span>What you get:</span>
                <ul>
                  <li><img src="assets/images/svg/check6.svg" alt="">Real-time crypto trading</li>
                  <li><img src="assets/images/svg/check6.svg" alt="">Unlimited standard support</li>
                  <li><img src="assets/images/svg/check6.svg" alt="">Trading up to $1000K</li>
                  <li><img src="assets/images/svg/check6.svg" alt="">100 GB Disk space</li>
                  <li><img src="assets/images/svg/check6.svg" alt="">Free custom domain</li>
                </ul>
              </div>
              <a class="fugu--outline-btn m-0" href=""><span>Choose the plan</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End -->

    <div class="section fugu-pricing-dark fugu-section-padding2">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 position-relative">
            <div class="fugu-default-content">
              <h2>Do you have any questions about pricing plans?</h2>
              <p>We are ready to answer all your questions. Ask <br/>us any questions you may have.</p>
              <a href="contact.html" class="fugu-faq-btn">Don't find the answer? Contact us here</a>
            </div>
          </div>
          <div class="col-lg-6 offset-lg-1">
            <div class="fugu-accordion-wrap">
              <div class="fugu-accordion-item">
                <h4>How this theme is different from others in market?</h4>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour of this.</p>
              </div>
              <div class="fugu-accordion-item">
                <h4>Do you provide any moneyback guarantee?</h4>
                <p>Once you've approved a connection request from the app the fugu can to send transaction requests to  wallet, which is the on your must also have manually approve in the Wallet easily provided.</p>
              </div>
              <div class="fugu-accordion-item">
                <h4>How long do you provide supports plugins?</h4>
                <p>It has survived not only five centuries, but also the leap into electronic for the support do you want typesetting, remaining essentially unchanged.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End section -->

    <div class="fugu-client-section fugu-pricing-dark">
      <div class="container">
        <div class="fugu-client-title">
          <h5>Trusted by 1600+ of the world's most h5opular companies</h5>
        </div>
          <div class="fugu-client-slider2">
            <div class="fugu-brand-logo">
              <img src="assets/images/all-img/about/client-w1.png" alt="">
            </div>
            <div class="fugu-brand-logo">
              <img src="assets/images/all-img/about/client-w2.png" alt="">
            </div>
            <div class="fugu-brand-logo">
              <img src="assets/images/all-img/about/client-w3.png" alt="">
            </div>
            <div class="fugu-brand-logo">
              <img src="assets/images/all-img/about/client-w4.png" alt="">
            </div>
            <div class="fugu-brand-logo">
              <img src="assets/images/all-img/about/client-w5.png" alt="">
            </div>
            <div class="fugu-brand-logo">
              <img src="assets/images/all-img/about/client-w6.png" alt="">
            </div>
            <div class="fugu-brand-logo">
              <img src="assets/images/all-img/about/client-w7.png" alt="">
            </div>
            <div class="fugu-brand-logo">
              <img src="assets/images/all-img/about/client-w8.png" alt="">
            </div>
            <div class="fugu-brand-logo">
              <img src="assets/images/all-img/about/client-w9.png" alt="">
            </div>
            <div class="fugu-brand-logo">
              <img src="assets/images/all-img/about/client-w10.png" alt="">
            </div>
            <div class="fugu-brand-logo">
              <img src="assets/images/all-img/about/client-w1.png" alt="">
            </div>
            <div class="fugu-brand-logo">
              <img src="assets/images/all-img/about/client-w2.png" alt="">
            </div>
            <div class="fugu-brand-logo">
              <img src="assets/images/all-img/about/client-w3.png" alt="">
            </div>
            <div class="fugu-brand-logo">
              <img src="assets/images/all-img/about/client-w4.png" alt="">
            </div>
            <div class="fugu-brand-logo">
              <img src="assets/images/all-img/about/client-w5.png" alt="">
            </div>
            <div class="fugu-brand-logo">
              <img src="assets/images/all-img/about/client-w6.png" alt="">
            </div>
            <div class="fugu-brand-logo">
              <img src="assets/images/all-img/about/client-w7.png" alt="">
            </div>
            <div class="fugu-brand-logo">
              <img src="assets/images/all-img/about/client-w8.png" alt="">
            </div>
            <div class="fugu-brand-logo">
              <img src="assets/images/all-img/about/client-w9.png" alt="">
            </div>
            <div class="fugu-brand-logo">
              <img src="assets/images/all-img/about/client-w10.png" alt="">
            </div>
          </div>
      </div>
    </div>
    <!-- End client section -->


  </div>
  <div class="fugu--blog-shape1">
    <img src="assets/images/all-img/v3/shape2.png" alt="">
  </div>
  <div class="fugu--blog-shape3">
    <img src="assets/images/all-img/blog2/shape.png" alt="">
  </div>
</div>
<!-- end inner section -->

<div class="fugu-go-top">
	<img src="assets/images/svg/arrow-black-right.svg" alt="">
</div>



{% include "../templates/layout/header-footer/footer-three.html" %} 
  
{% endblock %}