{% extends "layout/layout.html" %}
{% set page_title = "Artwork wall printing" %}
 {% block content %}

{% include "../templates/layout/header-footer/header-one.html" %} 

<div class="fugu-breadcrumb-section">
  <div class="container">
    {% include "../templates/components/breadcrumbs/breadcrumbs.html" %}
  </div>
  <div class="fugu-shape8">
    <img src="assets/images/shape/shape7.png" alt="">
  </div>
  <div class="fugu-shape9">
    <img src="assets/images/shape/shape8.png" alt="">
  </div>
</div>
<!-- End breadcrumb -->

<div class="section fugu-section-padding3">
  <div class="container">
    <div class="fugu-gallery-wrap3">
        <div class="row">
          <div class="col-lg-12">
            <div class="fugu-gallery-thumb wow fadeInUpX">
              <img src="assets/images/all-img/portfolio/p3/p1.png" alt="">
            </div>
          </div>
          <div class="col-lg-10">
            <div class="fugu-gallery-data4">
              <h2>About the project:</h2>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suf alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If a you are going to use a passage of Lorem Ipsum, you need to bee ther anything embarrassing.</p>
            </div>
            <div class="fugu-gallery-data4">
              <h4>Project Details:</h4>
              <p>By partnering with cross-functional teams and customers, for you will turn your insights into there is a delightful creative environment that requires proven leadership skills and the ability to the skill.</p>
              <ul>
                <li>
                  <span>Client:</span>
                  Adam Smith
                </li>
                <li>
                  <span>Category:</span>
                  Digital Art
                </li>
                <li>
                  <span>Duration:</span>
                  1 Week
                </li>
                <li>
                  <span>Website Link:</span>
                  example@xyzgmail.com
                </li>
              </ul>
            </div>
            <div class="fugu-gallery-data4">
              <h4>Project execution:</h4>
              <p>By partnering with cross-functional teams and customers, for you will turn your insights into there is a delightful creative environment that requires proven leadership skills and the ability to the skill.</p>
              <div class="fugu-team-information">
                <ul>
                  <li>Digital Marketing Solutions for Tomorrow</li>
                  <li>Our Talented & Experienced Marketing Agency</li>
                  <li>Create your own skin to match your brand</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="fugu-portfolio-ratated-project">
          <h2>Related Project:</h2>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suf alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="fugu-gallery-item wow fadeInUpX" data-wow-delay="0s">
                <img src="assets/images/all-img/portfolio/p3.png" alt="">
                <div class="fugu-gallery-data">
                  <h5><a href="single-portfolio.html">Commercial</a></h5>
                  <p>Digital Art</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="fugu-gallery-item wow fadeInUpX" data-wow-delay=".10s">
                <img src="assets/images/all-img/portfolio/p4.png" alt="">
                <div class="fugu-gallery-data">
                  <h5><a href="single-portfolio.html">Primitive culture</a></h5>
                  <p>Digital Art</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
              <div class="fugu-gallery-item wow fadeInUpX" data-wow-delay=".20s">
                <img src="assets/images/all-img/portfolio/p5.png" alt="">
                <div class="fugu-gallery-data">
                  <h5><a href="single-portfolio.html">Crypto coin</a></h5>
                  <p>UI/UX Design</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<!-- End section -->

<div class="fugu-go-top">
	<img src="assets/images/svg/arrow-black-right.svg" alt="">
</div>


  {% include "../templates/layout/header-footer/footer-one.html" %} 
  
{% endblock %}
