{% extends "layout/layout.html" %}
{% set page_title = "Single Careers" %}
 {% block content %}

{% include "../templates/layout/header-footer/header-one.html" %} 

<div class="fugu-breadcrumb-section">
  <div class="container">
    {% include "../templates/components/breadcrumbs/breadcrumbs.html" %}
  </div>
  <div class="fugu-shape8">
    <img src="assets/images/shape/shape7.png" alt="">
  </div>
  <div class="fugu-shape9">
    <img src="assets/images/shape/shape8.png" alt="">
  </div>
</div>
<!-- End breadcrumb -->

<div class="section fugu-section-padding2">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6">
        <div class="fugu-single-career-wrap">
          <div class="fugu-single-career-item">
            <h2>Job Details:</h2>
            <p>Product designers are involved in the entire design process a of a product, while UX designers focus more on the hands-on design portion of a best a process. Product designers and user an experience (UX) designers are the similar—in fact, sometimes the titles are used interchangeably.</p>
          </div>
          <div class="fugu-single-career-item">
            <h4>Job Responsibilities</h4>
            <p>By partnering with cross-functional teams and customers, for you will turn your insights into delightful creative environment that requires proven leadership skills and the ability.</p>
            <div class="fugu-team-information">
              <ul>
                <li>Set design requirements based on information from internal teams & research.</li>
                <li>Identify new product improvement opportunities.</li>
                <li>Analyze how a new product satisfies market needs & consumer preferences.</li>
                <li>Stay up to date on current industry trends and market conditions.</li>
                <li>Coordinate with other design team members to ensure communication.</li>
                <li>Modify and revise existing designs to meet changing customer preferences.</li>
                <li>Work closely with product engineers to suggest improvements for products.</li>
                <li>Present product design ideas to cross-functional teams and senior leadership.</li>
              </ul>
            </div>
          </div>
          <div class="fugu-single-career-item">
            <h4>Requirements</h4>
            <p>Proven experience in all phases of the design process including user for a research, copywriting, wireframing, prototyping, visual design, interaction design, and usability testing</p>
            <div class="fugu-team-information">
              <ul>
                <li>An intuitive eye for customer needs beyond the obvious</li>
                <li>Ability to collaborate with cross-functional team members</li>
                <li>Ability to collect and interpret both qualitative and quantitative feedback</li>
                <li>Ability to effectively communicate and persuade around design concepts</li>
                <li>Passion for design; not satisfied with the status quo and always thinking</li>
                <li>Dynamic, creative personality, effective at engaging and influencing a variety</li>
                <li>Provide assistance to product engineers when needed</li>
                <li>Recommend new tools and technologies by staying abreast of the latest trends</li>
              </ul>
            </div>
          </div>
          <div class="fugu-single-career-item">
            <h4>Skill & Experience</h4>
            <div class="fugu-team-information">
              <ul>
                <li>You have at least 3 years’ experience working as a Product Designer.</li>
                <li>You have experience using Sketch and InVision or Framer X and must figma</li>
                <li>You have some previous experience working in an agile environment</li>
                <li>You are familiar using Jira and Confluence in your workflow</li>
              </ul>
            </div>
          </div>
          <div class="fugu-single-career-item">
            <h4>Need help?</h4>
            <p>Not sure exactly what we’re looking for or just want clarification? We’d be happy to chat with you and clear things up for you. Anytime</p>
            <div class="fugu-contact-info">
              <ul>
                <li>
                  <a href="tel:123-456-7890">
                    <div class="fugu-contact-info-icon">
                      <img src="assets/images/social/call.svg" alt="">
                    </div>
                    <h5>Call us</h5>
                    <p>+088-234-6534-563</p>
                  </a>
                </li>
                <li>
                  <a href="mailto:name@email.com">
                    <div class="fugu-contact-info-icon">
                      <img src="assets/images/social/email.svg" alt="">
                    </div>
                    <h5>Email us</h5>
                    <p>example@gmail.com</p>
                  </a>
                </li>
                <li>
                  <a href="">
                    <div class="fugu-contact-info-icon">
                      <img src="assets/images/social/map.svg" alt="">
                    </div>
                    <h5>Office address</h5>
                    <p>4132 Thornridge City, New York.</p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 offset-xl-2 col-lg-5 offset-lg-1">
        <div class="fugu-career-sidebar">
          <h4>Job Overviews</h4>
          <div class="fugu-career-time2">
            <ul>
              <li>
                <img src="assets/images/svg/briefcase.svg" alt="">
                <span>Job Title:</span>
                UI/UX and Product Designer
              </li>
              <li>
                <img src="assets/images/svg/clock.svg" alt="">
                <span>Job Type:</span>
                Full Time
              </li>
              <li>
                <img src="assets/images/svg/map.svg" alt="">
                <span>Location:</span>
                London, UK
              </li>
              <li>
                <img src="assets/images/svg/cash.svg" alt="">
                <span>Salary:</span>
                $25k-$45k
              </li>
            </ul>
          </div>
          <a class="fugu-btn small-btn d-block" href="">Apply Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="fugu-go-top">
	<img src="assets/images/svg/arrow-black-right.svg" alt="">
</div>

{% include "../templates/layout/header-footer/footer-one.html" %} 
  
{% endblock %}
