{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/header-three.html" %} 

<div class="fugu--inner-section dark-version team-page">
  <div class="container">
    <div class="fugu--breadcrumbs-section">
      <div class="fugu--breadcrumbs-data center-content">
        <h1>Meet our creative team</h1>
        <p>Meet our expert team who value these relationships. A creative workplace gives the ability to come up with unique solutions to challenges of simply being told what to do.</p>
      </div>
    </div>
    <!-- End breadcrumb -->
    <div class="fugu--team-section fugu--team-two dark-version">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="fugu--team-wrap wow fadeInUpX" data-wow-delay="0s">
              <div class="fugu--team-thumb">
                <img src="assets/images/all-img/v4/team1.png" alt="">
              </div>
              <div class="fugu--team-data">
                <h4>Eleanor Pena</h4>
                <p>CEO & 3D Designer</p>
                <div class="fugu--social-icon">
                    <ul>
                        <li><a href=""><img src="assets/images/social2/twitter.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social2/facebook.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social2/instagram.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social2/github.svg" alt=""></a></li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="fugu--team-wrap wow fadeInUpX" data-wow-delay=".10s">
              <div class="fugu--team-thumb">
                <img src="assets/images/all-img/v4/team2.png" alt="">
              </div>
              <div class="fugu--team-data">
                <h4>Arlene McCoy</h4>
                <p>Marketing Officer</p>
                <div class="fugu--social-icon">
                    <ul>
                        <li><a href=""><img src="assets/images/social2/twitter.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social2/facebook.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social2/instagram.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social2/github.svg" alt=""></a></li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="fugu--team-wrap wow fadeInUpX" data-wow-delay=".20s">
              <div class="fugu--team-thumb">
                <img src="assets/images/all-img/v4/team3.png" alt="">
              </div>
              <div class="fugu--team-data">
                <h4>Kathryn Murphy</h4>
                <p>Operating Officer</p>
                <div class="fugu--social-icon">
                    <ul>
                        <li><a href=""><img src="assets/images/social2/twitter.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social2/facebook.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social2/instagram.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social2/github.svg" alt=""></a></li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="fugu--team-wrap wow fadeInUpX" data-wow-delay=".30s">
              <div class="fugu--team-thumb">
                <img src="assets/images/all-img/v4/team4.png" alt="">
              </div>
              <div class="fugu--team-data">
                <h4>Jerome Bell</h4>
                <p>Art Director</p>
                <div class="fugu--social-icon">
                    <ul>
                        <li><a href=""><img src="assets/images/social2/twitter.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social2/facebook.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social2/instagram.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social2/github.svg" alt=""></a></li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="fugu--team-wrap wow fadeInUpX" data-wow-delay=".40s">
              <div class="fugu--team-thumb">
                <img src="assets/images/all-img/v4/team5.png" alt="">
              </div>
              <div class="fugu--team-data">
                <h4>Theresa Webb</h4>
                <p>Marketing manager</p>
                <div class="fugu--social-icon">
                    <ul>
                        <li><a href=""><img src="assets/images/social2/twitter.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social2/facebook.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social2/instagram.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social2/github.svg" alt=""></a></li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="fugu--team-wrap wow fadeInUpX" data-wow-delay=".50s">
              <div class="fugu--team-thumb">
                <img src="assets/images/all-img/v4/team6.png" alt="">
              </div>
              <div class="fugu--team-data">
                <h4>Marvin McKinney</h4>
                <p>Senior developer</p>
                <div class="fugu--social-icon">
                    <ul>
                        <li><a href=""><img src="assets/images/social2/twitter.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social2/facebook.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social2/instagram.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social2/github.svg" alt=""></a></li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="fugu--team-wrap wow fadeInUpX" data-wow-delay=".60s">
              <div class="fugu--team-thumb">
                <img src="assets/images/all-img/v4/team7.png" alt="">
              </div>
              <div class="fugu--team-data">
                <h4>Darrell Steward</h4>
                <p>Senior consultant</p>
                <div class="fugu--social-icon">
                    <ul>
                        <li><a href=""><img src="assets/images/social2/twitter.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social2/facebook.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social2/instagram.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social2/github.svg" alt=""></a></li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="fugu--team-wrap wow fadeInUpX" data-wow-delay=".70s">
              <div class="fugu--team-thumb">
                <img src="assets/images/all-img/v4/team8.png" alt="">
              </div>
              <div class="fugu--team-data">
                <h4>Devon Lane</h4>
                <p>Art Director</p>
                <div class="fugu--social-icon">
                    <ul>
                        <li><a href=""><img src="assets/images/social2/twitter.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social2/facebook.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social2/instagram.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social2/github.svg" alt=""></a></li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="fugu--team-wrap wow fadeInUpX" data-wow-delay=".80s">
              <div class="fugu--team-thumb">
                <img src="assets/images/all-img/v4/team9.png" alt="">
              </div>
              <div class="fugu--team-data">
                <h4>Floyd Miles</h4>
                <p>WP Developer</p>
                <div class="fugu--social-icon">
                    <ul>
                        <li><a href=""><img src="assets/images/social2/twitter.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social2/facebook.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social2/instagram.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social2/github.svg" alt=""></a></li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="fugu--team-wrap wow fadeInUpX" data-wow-delay=".90s">
              <div class="fugu--team-thumb">
                <img src="assets/images/all-img/v4/team10.png" alt="">
              </div>
              <div class="fugu--team-data">
                <h4>Kristin Watson</h4>
                <p>Marketing Officer</p>
                <div class="fugu--social-icon">
                    <ul>
                        <li><a href=""><img src="assets/images/social2/twitter.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social2/facebook.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social2/instagram.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social2/github.svg" alt=""></a></li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="fugu--team-wrap wow fadeInUpX" data-wow-delay="1s">
              <div class="fugu--team-thumb">
                <img src="assets/images/all-img/v4/team11.png" alt="">
              </div>
              <div class="fugu--team-data">
                <h4>Jacob Jones</h4>
                <p>Operating Officer</p>
                <div class="fugu--social-icon">
                    <ul>
                        <li><a href=""><img src="assets/images/social2/twitter.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social2/facebook.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social2/instagram.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social2/github.svg" alt=""></a></li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="fugu--team-wrap wow fadeInUpX" data-wow-delay="1.10s">
              <div class="fugu--team-thumb">
                <img src="assets/images/all-img/v4/team12.png" alt="">
              </div>
              <div class="fugu--team-data">
                <h4>Esther Howard</h4>
                <p>Art Director</p>
                <div class="fugu--social-icon">
                    <ul>
                        <li><a href=""><img src="assets/images/social2/twitter.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social2/facebook.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social2/instagram.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social2/github.svg" alt=""></a></li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="fugu--team-button">
          <a class="fugu--btn bg-gray active" href="#">Join Our Team</a>
        </div>
    </div>
    <!-- End team section -->
  </div>
  <div class="fugu--blog-shape1">
    <img src="assets/images/all-img/v3/shape2.png" alt="">
  </div>
  <div class="fugu--blog-shape3">
    <img src="assets/images/all-img/blog2/shape.png" alt="">
  </div>
</div>
<!-- end inner section -->

<div class="fugu-go-top">
	<img src="assets/images/svg/arrow-black-right.svg" alt="">
</div>



{% include "../templates/layout/header-footer/footer-three.html" %} 
  
{% endblock %}