{% extends "layout/layout.html" %}
{% set page_title = "Testimonials" %}
 {% block content %}

{% include "../templates/layout/header-footer/header-one.html" %} 

<div class="fugu-breadcrumb-section">
  <div class="container">
    {% include "../templates/components/breadcrumbs/breadcrumbs.html" %}
  </div>
  <div class="fugu-shape8">
    <img src="assets/images/shape/shape7.png" alt="">
  </div>
  <div class="fugu-shape9">
    <img src="assets/images/shape/shape8.png" alt="">
  </div>
</div>
<!-- End breadcrumb -->

<div class="section fugu-section-padding">
  <div class="container">
    <div class="fugu-section-title">
      <h2>Trusted by 1600k+<br/> people worldwide</h2>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="fugu-testimonial-card3 wow fadeInUpX" data-wow-delay="0s">
          <ul>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
          </ul>
          <p>“I found Fugu very professional and trustworthy during my crypto trading duration of 147 days. They are very honest and trusted.”</p>
            <div class="fugu-testimonial-author-wrap">
              <div class="fugu-testimonial-author-thumb">
                <img src="assets/images/all-img/testimonial4.png" alt="">
              </div>
              <div class="fugu-testimonial-author-data3">
                <h5>- Karen Lynn</h5>
                <span>Founder @ Company</span>
              </div>
            </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="fugu-testimonial-card3 wow fadeInUpX" data-wow-delay=".10s">
          <ul>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
          </ul>
          <p>“100% Trusted. Very legit in crypto world. So far I'm satisfied with Nexto. I just wish this will continue at this way and there will be no sudden changes.”</p>
            <div class="fugu-testimonial-author-wrap">
              <div class="fugu-testimonial-author-thumb">
                <img src="assets/images/all-img/testimonial5.png" alt="">
              </div>
              <div class="fugu-testimonial-author-data3">
                <h5>- Subash Rajendran</h5>
                <span>Software engineer</span>
              </div>
            </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="fugu-testimonial-card3 wow fadeInUpX" data-wow-delay=".20s">
          <ul>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
          </ul>
          <p>“The best place to start your trading path, thank you for support. Its a safe passive income strategy and will be multiply over time 😍.”</p>
            <div class="fugu-testimonial-author-wrap">
              <div class="fugu-testimonial-author-thumb">
                <img src="assets/images/all-img/testimonial6.png" alt="">
              </div>
              <div class="fugu-testimonial-author-data3">
                <h5>- Milan Milenkovic</h5>
                <span>Businessman</span>
              </div>
            </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="fugu-testimonial-card3 wow fadeInUpX" data-wow-delay=".30s">
          <ul>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
          </ul>
          <p>“Trustable ☺️ Best way to earn passive income. Everything was well explained and it was easy to follow their clear. Very legit in crypto world.”</p>
            <div class="fugu-testimonial-author-wrap">
              <div class="fugu-testimonial-author-thumb">
                <img src="assets/images/all-img/testimonial7.png" alt="">
              </div>
              <div class="fugu-testimonial-author-data3">
                <h5>- Francois Malan</h5>
                <span>UI/UX Designer</span>
              </div>
            </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="fugu-testimonial-card3 wow fadeInUpX" data-wow-delay=".40s">
          <ul>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
          </ul>
          <p>“More than just satisfied.Trustable site and the owner is very friendly & calm. And it’s great! The 0,5-1% daily on average is the target.”</p>
            <div class="fugu-testimonial-author-wrap">
              <div class="fugu-testimonial-author-thumb">
                <img src="assets/images/all-img/testimonial8.png" alt="">
              </div>
              <div class="fugu-testimonial-author-data3">
                <h5>- Nadir Zeblah</h5>
                <span>Manager @ Company</span>
              </div>
            </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="fugu-testimonial-card3 wow fadeInUpX" data-wow-delay=".50s">
          <ul>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
          </ul>
          <p>“Best crypto scam investigator. It took less than 24h and gave all the details about the scammer and guided me. My heartfull thanks 💗 ”</p>
            <div class="fugu-testimonial-author-wrap">
              <div class="fugu-testimonial-author-thumb">
                <img src="assets/images/all-img/testimonial9.png" alt="">
              </div>
              <div class="fugu-testimonial-author-data3">
                <h5>- Abdul Wadud</h5>
                <span>WP Developer</span>
              </div>
            </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="fugu-testimonial-card3 wow fadeInUpX" data-wow-delay=".60s">
          <ul>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
          </ul>
          <p>“I found Fugu very professional and trustworthy during my crypto trading duration of 147 days. They are very honest and trusted.”</p>
            <div class="fugu-testimonial-author-wrap">
              <div class="fugu-testimonial-author-thumb">
                <img src="assets/images/all-img/testimonial10.png" alt="">
              </div>
              <div class="fugu-testimonial-author-data3">
                <h5>-Brooklyn Simmons</h5>
                <span>Founder @ Company</span>
              </div>
            </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="fugu-testimonial-card3 wow fadeInUpX" data-wow-delay=".70s">
          <ul>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
          </ul>
          <p>“100% Trusted. Very legit in crypto world. So far I'm satisfied with Nexto. I just wish this will continue at this way and there will be no sudden changes.”</p>
            <div class="fugu-testimonial-author-wrap">
              <div class="fugu-testimonial-author-thumb">
                <img src="assets/images/all-img/testimonial11.png" alt="">
              </div>
              <div class="fugu-testimonial-author-data3">
                <h5>-Guy Hawkins</h5>
                <span>Software engineer</span>
              </div>
            </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="fugu-testimonial-card3 wow fadeInUpX" data-wow-delay=".80s">
          <ul>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
            <li><img src="assets/images/svg/star4.svg" alt=""></li>
          </ul>
          <p>“The best place to start your trading path, thank you for support. Its a safe passive income strategy and will be multiply over time 😍.”</p>
            <div class="fugu-testimonial-author-wrap">
              <div class="fugu-testimonial-author-thumb">
                <img src="assets/images/all-img/testimonial12.png" alt="">
              </div>
              <div class="fugu-testimonial-author-data3">
                <h5>-Savannah Nguyen</h5>
                <span>Businessman</span>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="fugu-testimonial-btn">
      <a class="fugu-btn small-btn" href="">View More</a>
    </div>
  </div>
</div>
<!-- End section -->

<div class="fugu-go-top">
	<img src="assets/images/svg/arrow-black-right.svg" alt="">
</div>


  {% include "../templates/layout/header-footer/footer-one.html" %} 
  
{% endblock %}
