
.breadcrumbs {
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  h1{
    font-weight: 800;
    @include max(575px) {
      margin-bottom: 10px;
    }
  }
  
}


.breadcrumb {
  margin: 45px 0 0px;
  justify-content: center;
  @include max(991px) {
    margin: 25px 0 0px;
  }
  .breadcrumb-item {
    color: var(--gray-800);
    a {
      color: var(--gray-800);
    }
    &.active{
      font-weight: 600;
    }
  }
}

.dark{
  h1{
    color: var(--gray-10);
  }
  .breadcrumb {
    .breadcrumb-item {
      color: var(--gray-10);
      a {
        color: var(--gray-10);
      }
      &.active{
        font-weight: 600;
      }
    }
  }
}
