.zuzu-breadcrumb-section{
  padding: 188px 0 120px;
  position: relative;
  background-color: var(--warning-400);
  @include max(991px) {
    padding: 150px 0 80px;
  }
  @include max(767px) {
    padding: 130px 0 60px;
  }
  @include max(479px) {
    padding: 100px 0 60px;
  }
}
.breadcrumbs {
  text-align: center;
  h1{
    @include max(575px) {
      margin-bottom: 10px;
      line-height: 20px;
    }
  }
  
}


.breadcrumb {
  margin: 45px 0 0px;
  justify-content: center;
  @include max(991px) {
    margin: 25px 0 0px;
  }
  .breadcrumb-item {
    color: var(--gray-800);
    a {
      color: var(--gray-800);
    }
    &.active{
      font-weight: 600;
    }
  }
}

.zuzu-shape8 {
  position: absolute;
  top: 32%;
  -webkit-animation: float 3s ease-in-out infinite;
  animation: float 3s ease-in-out infinite;
  @include max(991px) {
    display: none;
  }
}
.zuzu-shape9 {
  position: absolute;
  right: 4%;
  bottom: 14%;
  -webkit-animation: float 3s ease-in-out infinite;
  animation: float 3s ease-in-out infinite;
  @include max(991px) {
    display: none;
  }
}
