// bootstrap button style

.zuzu-btn {
  font-size: $button_font_size;
  line-height: $buton_line_height;
  border-radius: $buton_border_radius;
  padding: $button_padding;
  font-weight: $button_font_weight;
  font-family: $button_font_family;
  width: fit-content;
  position: relative;
  z-index: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  text-align: center;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  overflow: hidden;
  color: var(--gray-10);
  background-color: var(--gray-500);
  &:hover{
    color: var(--gray-10);
    background-color: var(--gray-800);
  }
  &.zuzu-header-btn{
    padding: 13px 35px;
    margin-left: 40px;
    color: var(--gray-10);
    &:hover{
      color: var(--gray-10);
      background-color: var(--gray-800);
    }
    &.black{
      background-color: var(--gray-500);
      &:hover{
        background-color: var(--primary-600);
      }
    }
    &.green{
      border: 2px solid var(--success-500);
      background-color: var(--success-500);
      &:hover{
        border: 2px solid var(--gray-800);
        background-color: var(--gray-800);
      }
    }
    &.blue{
      color: var(--gray-10);
      border: 2px solid var(--gray-800);
      background-color: var(--primary-400);
      box-shadow: 0 4px 0 0 var(--gray-800);
      &:hover{
        box-shadow: 0 0 0 0 var(--gray-800);
      }
    }
    &.pink{
      color: var(--gray-10);
      background-color: var(--pink-500);
      &:hover{
        background-color: var(--gray-800);
      }
    }
    &.deep-pink{
      color: var(--gray-800);
      background-color: var(--pink-600);
      &:hover{
        color: var(--gray-800);
        background-color: var(--gray-10);
      }
    }
    &.deep-blue{
      color: var(--gray-10);
      background-color: var(--primary-600);
      &:hover{
        background-color: var(--gray-800);
      }
    }
  }
  &.btn-white{
    color: var(--gray-800);
    background-color: var(--gray-10);
    &:hover{
      color: var(--gray-10);
      background-color: var(--primary-600);
    }
  }
  &.btn-blue{
    color: var(--gray-10);
    background-color: var(--primary-600);
    &:hover{
      color: var(--primary-600);
      background-color: var(--gray-10);
    }
  }
  &.btn-deep-blue{
    color: var(--gray-10);
    background-color: var(--primary-600);
    &:hover{
      background-color: var(--gray-800);
    }
  }
  &.btn-pink{
    color: var(--gray-10);
    background-color: var(--pink-500);
    &:before{
      content: none;
    }
    &:hover{
      background-color: var(--gray-800);
    }
  }
  &.btn-deep-pink{
    color: var(--pink-600);
    box-shadow: 0px 4px 40px rgba(255, 0, 212, 0.3);
    &:hover{
      color: var(--gray-10);
      background-color: var(--pink-600);
    }
  }
  &.gradient.active{
    &:before{
      opacity: 1;     
    }
    &:hover:before{
      width: 200%;
    }
  }
  &.gradient:before{
    content: " ";
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.4s;
    opacity: 0;
    border-radius: 10px;
    background: linear-gradient(225deg, #0080FF 0%, #7D41EA 46.35%, #FF00D4 100%);
  }
  &.active.gradient:before{
    background: linear-gradient(225deg, #30FFC7 0%, #512FE7 100%);
  }
  &.gradient{
    border-radius: 3px;
  }
  &.gradient:before{
    border-radius: 3px;
    background: linear-gradient(225deg, #30FFC7 0%, #512FE7 100%);
  }
  &:hover .gradient:before{
    opacity: 1;
  }
  &:hover:before{
    opacity: 1;
  }
  &:hover{
    color: #fff;
  }
  &.zuzu-icon-btn2{
    color: var(--gray-10);
    padding: 13px 24px;
    border-radius: 50px;
    border: 2px solid var(--gray-800);
    background-color: var(--primary-400);
    box-shadow: 0 4px 0 0 var(--gray-800);
    &:hover{
      box-shadow: 0 0 0 0 var(--gray-800);
    }
    img{
      margin-left: 10px;
    }
  }
  
  &.small-btn{
    border-radius: 10px;
    padding: 15.5px 41px;
  }
  &.disabled,
  &:disabled {
    opacity: 1;
  }
  &.d-block {
    width: 100%;
  }
  &.pill {
    border-radius: 999px;
  }
  &.btn-icon {
    padding: 9px 24px;
  }
  &:focus {
    box-shadow: none;
  }
}
a.zuzu-icon-btn3 {
  width: 70px;
  height: 40px;
  background: #FFFFFF;
  border: 2px solid var(--gray-800);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
  path{
    fill: var(--gray-800);
  }
}
