
/* card */
.zuzu-card {
  &-wrap{
    background: var(--gray-10);
    border: none;
    border-radius: 13px;
    padding: 15px;
    &:hover .zuzu-card-thumb img{
      transform: scale(1.1) rotate(3deg);
    }
  }
  &-thumb{
    overflow: hidden;
    border-radius: 13px;
    img{
      width: 100%;
      object-fit: cover;
      object-position: center top;
      transition: all 0.4s;
      
    }
  }
  &-data{
    margin-top: 20px;
    h3{
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      color: var(--gray-800);
      margin: 0 0 5px;
      font-family: $body-font;
    }
  }
  &-footer{
    &-data{
      display: flex;
    align-items: center;
    justify-content: space-between;
      h4{
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: var(--gray-800);
        margin: 0;
        opacity: 0.5;
        font-family: $body-font;
      }
    }
  }
}
a.zuzu-card-btn {
  width: 93.76px;
  height: 31.25px;
  background: #724FE5;
  border-radius: 52.0891px;
  font-weight: 700;
  font-size: 12.5014px;
  text-align: center;
  color: #FFFFFF;
  padding: 1px;
  display: inline-block;
}

.zuzu-card-slider .zuzu-card-wrap{
  margin: 0 12px;
}
