// client section
.zuzu-client-section{
  padding: 75px 0 120px;
  @include max(991px) {
    padding: 80px 0 100px;
  }
  @include max(767px) {
    padding: 80px 0;
  }
}


.zuzu-client-slider-item{
  img{
    opacity: 0.6;
    transition: all 0.4s;
  }
  &:hover img{
    opacity: 1;
  }
}
