.zuzu-counter{
  &-section{
    padding: 80px 0;
    @include max(991px) {
      padding: 80px 0 56px;
    }
  }
  &-wrap{
    display: flex;
    justify-content: space-between;
    @include max(991px) {
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
    }
    @include max(575px) {
      display: block;
    }
  }
  &-data{
    @include max(991px) {
      flex: 0 0 50%;
      margin-bottom: 24px;
    }
    h2{
      color: #fff;
      margin-bottom: 5px;
      font-weight: 700;
      font-size: 68px;
      font-family: $another-font3;
      @include max(767px) {
        font-size: 48px;
      }
    }
    p{
      color: #fff;
    }
  }
}


// counter v2
.zuzu-counter-wrap4{
  flex-wrap: inherit;
  display: flex;
  .zuzu-counter-data{
    padding-right: 30px;
    margin-right: 35px;
    border-right: 1px solid rgba(19, 17, 26, 0.1);
    margin-bottom: 0;
   
    &:last-child{
      border: none;
      padding-right: 0;
      margin-right: 0;
    }
    @include max(991px) {
      margin: 0 10px!important;
      padding: 0 10px!important;
    }
    h2{
      color: var(--pink-500);
      margin-bottom: 0;
      strong{
        background: none;
        color: var(--pink-500);
        -webkit-text-fill-color: var(--pink-500);
      }
    }
    p{
      opacity: 0.6;
      color: var(--gray-800);
    }
    
  }
}