.zuzu-cta-section{
  padding-top: 50px;
  @include max(1199px) {
    padding-top: 0;
  }
}

.zuzu-cta-wrap {
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  position: relative;
  padding: 80px 60px 80px 80px;
  @include max(1199px) {
    border-radius: 5px;
    padding: 80px 60px 0px 80px;
  }
  @include max(575px) {
    padding: 50px 50px 0 50px;
  }
  .zuzu-default-content{
    @include max(1199px) {
      text-align: center;
    }
  }
}

.zuzu-cta-thumb {
  position: absolute;
  bottom: 0;
  @include max(1199px) {
    position: static;
    margin-top: 30px;
    text-align: center;
  }
}

.zuzu-cta-btn-wrap {
  margin-top: 45px;
  display: flex;
  align-items: center;
  @include max(1199px) {
    justify-content: center;
  }
  @include max(575px) {
    display: block;
  }
  @include max(575px) {
    margin-top: 30px;
  }
}
.zuzu-app-btn{
  margin-right: 20px;
  transition: all 0.4s;
  display: inline-block;
  @include max(575px) {
    margin: 10px!important;
  }
  &:hover{
    transform: translateY(-5px);
  }
  &:last-child{
    margin-right: 0;
  }
}

// cta v2
.zuzu-cta2-wrap{
  border-radius: 20px;
  padding: 80px;
  background-color: var(--primary-400);
  @include max(991px) {
    padding: 60px;
  }
  @include max(767px) {
    padding: 40px;
  }
}

.zuzu-cta-footer{
  margin-top: 50px;
  @include max(767px) {
    margin-top: 30px;
  }
}

.white-icon-btn{
  color: var(--gray-800)!important;
  background-color: var(--gray-10)!important;
}