input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="time"],
input[type="date"],
input[type="search"],
input, textarea {
  margin: 0;
  width: 100%;
  height: 60px;
  color:  var(--gray-800);
  border-radius: 10px;
  background-color: transparent;
  padding: 15px 30px !important;
  border: none!important;
  transition: all 0.4s;
  border: 1px solid var(--gray-700)!important;
}
input:focus, textarea:focus{
  border: 1px solid var(--warning-500)!important;
}
textarea {
  height: 150px;
  resize: none;
  @include max(767px) {
    height: 100px;
  }
}

input::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder{ /* WebKit, Blink, Edge */
    color:    var(--gray-800);
    opacity: 0.6;
}
input:-moz-placeholder, 
textarea:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
   color:    var(--gray-800);
   opacity:  0.6;
}
input::-moz-placeholder, 
textarea::-moz-placeholder{ /* Mozilla Firefox 19+ */
   color:    var(--gray-800);
   opacity:  0.6;
}
input:-ms-input-placeholder, 
textarea:-ms-input-placeholder{ /* Internet Explorer 10-11 */
   color:    var(--gray-800);
   opacity: 0.6;
}
input::-ms-input-placeholder, 
textarea::-ms-input-placeholder{ /* Microsoft Edge */
   color:    var(--gray-800);
   opacity: 0.6;
}

input::placeholder, 
textarea::placeholder{ /* Most modern browsers support this now. */
   color:    var(--gray-800);
   opacity: 0.6;
}

// footer subscribe
.zuzu-footer-subscribe{
  position: relative;
  input{
    font-size: 16px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid var(--gray-800)!important;
    border-radius: 50px;
    padding-right: 137px!important;
    box-shadow: 0 5px 0 0 var(--gray-800);
  }
}
#zuzu-footer-subscribe-btn{
  width: 130px;
  height: 40px;
  color: var(--gray-10);
  border-radius: 50px;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: var(--primary-400);
}

// subscribetion v2

.zuzu-newsletter-field2{
  max-width: 466px;
  margin: 0 auto;
  position: relative;
  margin-top: 45px;
  input{
    height: 55px;
    border-radius: 50px!important;
    padding: 10px 160px 10px 25px!important;
    background-color: var(--gray-10);
    border: none!important;
    @include max(479px) {
      padding: 10px 25px 10px 25px!important;
    }
  }
  @include max(991px) {
    max-width: 100%;
  }
  input{
    border-radius: 3px;
  }
  
}

#zuzu-newsletter-btn2{
border-radius: 50px;
right:5px;
top: 5px;
height: 45px;
width: 150px;
position: absolute;
background: var(--gray-800);
color: white;
transition: all 0.4s;
&:hover{
  background-color: var(--pink-500);
}
@include max(479px) {
  width: 100%;
  margin-top: 20px;
  position: static;
}

}

// subscription v3

.zuzu-newsletter-field {
  margin-top: 45px;
  input{
    height: 55px;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 16px;
    width: 320px;
    margin-right: 15px;
    border: 1px solid #30FFC7!important;
    @include max(767px) {
      width: 100%;
      margin: 0;
    }
  }
}

button#zuzu-newsletter-btn {
  width: 160px;
  height: 55px;
  background: linear-gradient(225deg, #30FFC7 0%, #512FE7 100%);
  border-radius: 3px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  @include max(767px) {
    width: 100%;
    margin-top: 15px;
  }
}

.zuzu-newsletter-field input::-webkit-input-placeholder{ /* WebKit, Blink, Edge */
  color:    #fff;
  opacity: 0.5;
}
.zuzu-newsletter-field input:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
 color:    #fff;
 opacity:  0.5;
}
.zuzu-newsletter-field input::-moz-placeholder{ /* Mozilla Firefox 19+ */
 color:    #fff;
 opacity:  0.5;
}
.zuzu-newsletter-field input:-ms-input-placeholder{ /* Internet Explorer 10-11 */
 color:    #fff;
 opacity: 0.5;
}
.zuzu-newsletter-field input::-ms-input-placeholder{ /* Microsoft Edge */
 color:    #fff;
 opacity: 0.5;
}

.zuzu-newsletter-field input::placeholder{ /* Most modern browsers support this now. */
 color:    #fff;
 opacity: 0.5;
}


.zuzu-newsletter-field {
  margin-top: 45px;
  input{
    height: 55px;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 16px;
    width: 320px;
    margin-right: 15px;
    border: 1px solid #30FFC7!important;
    @include max(767px) {
      width: 100%;
      margin: 0;
    }
  }
}

button#zuzu-newsletter-btn {
  width: 160px;
  height: 55px;
  background: linear-gradient(225deg, #30FFC7 0%, #512FE7 100%);
  border-radius: 3px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  @include max(767px) {
    width: 100%;
    margin-top: 15px;
  }
}

.zuzu-newsletter-field input::-webkit-input-placeholder{ /* WebKit, Blink, Edge */
  color:    #fff;
  opacity: 0.5;
}
.zuzu-newsletter-field input:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
 color:    #fff;
 opacity:  0.5;
}
.zuzu-newsletter-field input::-moz-placeholder{ /* Mozilla Firefox 19+ */
 color:    #fff;
 opacity:  0.5;
}
.zuzu-newsletter-field input:-ms-input-placeholder{ /* Internet Explorer 10-11 */
 color:    #fff;
 opacity: 0.5;
}
.zuzu-newsletter-field input::-ms-input-placeholder{ /* Microsoft Edge */
 color:    #fff;
 opacity: 0.5;
}

.zuzu-newsletter-field input::placeholder{ /* Most modern browsers support this now. */
 color:    #fff;
 opacity: 0.5;
}
