.zuzu-iconbox{
  &-wrap{
    text-align: center;
    margin-bottom: 24px;
  }
  &-icon{
    margin-bottom: 20px;
  }
  &-data{
    h4{
      color: var(--gray-10);
    }
    p{
      color: rgba(255, 255, 255, 0.8);
    }
  }
}
.zuzu-iconbox-bg {
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 15%;
  @include max(1400px) {
    background-size: 80%;
  }
  @include max(991px) {
    display: none!important;
  }
}
.custom_margin_b{
  margin-top: 100px;
  @include max(991px) {
    margin: 0;
  }
}
.zuzu-icon-btn{
  font-size: 16px;
  font-weight: 700;
  color: var(--gray-800);
  &:hover{
    color: var(--gray-800);
  }
  img{
    transition: all 0.4s;
    margin-left: 7px;
  }

}

// icon box v3
.zuzu-iconbox{
  &-wrap2{
    padding: 40px;
    border-radius: 3px;
    transition: all 0.4s;
    margin-bottom: 24px;
    border: 1px solid var(--gray-800);
    &:hover{
      background-color: var(--gray-800);
    }
    &:hover .zuzu-iconbox-icon2{
      background-color: var(--gray-500);
    }
    @include max(991px) {
      padding: 30px;
    }
    &.active{
      background-color: var(--gray-800);
      .zuzu-iconbox-icon2{
        background-color: var(--gray-500);
      }
    }
  }
  &-icon2{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-bottom: 30px;
    transition: all 0.4s;
    background-color: var(--gray-800);
  }
  &-data2{
    h4{
      color: var(--gray-10);
      font-family: $another-font2;
    }
    p{
      opacity: 0.8;
      color: var(--gray-10);
    }
  }
}

// iconbox v4
.zuzu-iconbox{
  &-wrap3{
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 24px;
    transition: all 0.4s;
    background-color: var(--warning-50);
    &:hover a.zuzu-icon-btn3{
      box-shadow: 0 4px 0 0 var(--gray-800);
      background-color: var(--primary-500);
      path{
        fill: var(--gray-10);
      }
    }
  }
  &-icon3{
    width: 60px;
    height: 60px;
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: var(--gray-800);
  }
  &-data3{
    h5{
      font-weight: 700;
    }
    p{
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.zuzu-iconbox{
  &-wrap4{
    display: flex;
    align-items: center;
    margin-right: 15%;
    margin-bottom: 30px;
    @include max(1399px) {
      margin-right: 0;
    }
    &:hover .zuzu-iconbox-icon7{
      box-shadow: 0 0 0 0 var(--gray-800);
    }
  }
  &-icon4{
    width: 60px;
    height: 60px;
    display: flex;
    flex-shrink: 0;
    margin-right: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 160px;
    transition: all 0.4s;
    border: 1px solid var(--gray-800);
    box-shadow: 0 5px 0 0 var(--gray-800);
    &:hover{
      box-shadow: 0 0 0 0 var(--gray-800);
    }
    &.iconbox-icon1{
      background-color: #38B3D1;
    }
    &.iconbox-icon2{
      background-color: #F290E7;
    }
    &.iconbox-icon3{
      background-color: #0568FD;
    }
  }
  &-data4{
    h5{
      margin: 0;
      font-weight: 600;
      font-family: $body-font;
    }
  }
}

// End

.zuzu-iconbox{
  &-wrap5{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }
  &-icon5{
    margin-right: 15px;
    flex-shrink: 0;
  }
  &-data5{
    h5{
      margin: 0;
      font-weight: 600;
      font-family: $body-font;
      color: var(--gray-10);
    }
  }
}






