
.pagination {
 justify-content: center;
}
.page-item {
  .page-link {
    height: 50px;
    width: 50px;
    background-color: transparent;
    color: #fff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border-radius: 100%;
    color: rgba(19, 17, 26, 0.8);
    text-align: center;
    &:focus {
      box-shadow: none;
      outline: none;
    }
    &:hover {
      color: var(--gray-800);
      background-color: var(--warning-500);
    }
    &.active{
      color: var(--gray-800);
      background-color: var(--warning-500);
    }
  }
  &:first-child {
    .page-link {
      border-radius: 5px 0px 0px 5px;
    }
  }
  &:last-child {
    .page-link {
      border-radius: 0px 5px 5px 0px;
    }
  }
  &:first-child,
  &:last-child {
    .page-link {
      &:hover{
        color: #0080ff;
      }
      svg{
        position: absolute;
        right: -22px;
        path{
          stroke: var(--gray-10);
          transition: all 0.4s;
        }
        
      }
      &:hover path{
        stroke: #0080ff;
      }
      &:hover{
        background-color: transparent!important;
      }
    }
  }
  &.active {
    .page-link {
      color: white;
      background-color: var(--gray-900);
    }
  }
}

.zuzu-pagination{
  text-align: center;
    margin-top: 56px;
    @include max(767px) {
        margin-top: 35px;
    }
}



