/*---------------------------------------------------
PRICING SECTION
----------------------------------------------------*/


.pricing-btn {
  margin-bottom: 60px;
  @include max(991px) {
    margin-bottom: 30px;
  }
}
[data-pricing-dynamic][data-value-active="yearly"] .dynamic-value:before {
display: inline-block;
content: attr(data-yearly);
}
[data-pricing-dynamic][data-value-active="yearly"] [data-pricing-trigger] {
background: #ff5722;
}

[data-pricing-dynamic][data-value-active="yearly"] [data-pricing-trigger] span {
left: calc(100% - 33px);
}
[data-pricing-dynamic][data-value-active="monthly"] .dynamic-value:before {
display: inline-block;
content: attr(data-monthly);
}
.dynamic-value:before {
  display: inline-block;
  content: attr(data-active);
}
.static-value:before {
  display: inline-block;
  content: attr(data-active);
}
.pricing-btn .btn-toggle {
  position: relative;
  width: 65px !important;
  height: 30px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  background-color: var(--gray-800) !important;
  background-image: url(../images/all-img/service/circle-bg.png);
}
.pricing-btn .btn-toggle:focus {
  border: none !important;
  outline: none;
  box-shadow: none;
  background-color: var(--gray-800) !important;
  background-image: url(../images/all-img/service/circle-bg.png);
}
.pricing-btn .btn-toggle:checked {
  border: none !important;
  background-color: var(--gray-800) !important;
  background-image: url(../images/all-img/service/circle-bg.png);
}
.pricing-btn label {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 24px;
  margin: 0 20px;
  color: var(--gray-800);
  @include max(767px) {
    margin: 0 15px;
  }
}

.zuzu-pricing{
  &-wrap{
    padding: 40px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    @include max(991px) {
      padding: 30px;
    }
    &.active{
      background-color: var(--gray-800);
      .zuzu-pricing-header{
        h5, p{
          color: #fff;
        }
        p{
          opacity: 0.8;
        }
      }
      .zuzu-price, 
      p.bottom_text, 
      .zuzu-pricing-currency{
        color: #fff;
      }
      .zuzu-pricing-body{
        ul{
          li{
            color: #fff;
            opacity: 0.8;
          }
        }
      }
    }
    &.zuzu-pricing-wrap{
      margin-bottom: 24px;
    }
    &.zuzu-pricing-wrap3{
      padding: 30px;
      background: #FFFFFF;
      border: 1px solid rgba(19, 17, 26, 0.1);
      border-radius: 10px;
      transition: all 0.4s;
      &:hover{
        border-radius: 10px;
        background: #FFFFFF;
        border: 1px solid #fff;
        box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.06);
      }
      &:hover a.zuzu-pricing-btn{
          border: 2px solid var(--warning-500);
          background-color: var(--warning-500);
      }
      a.zuzu-pricing-btn{
        margin: 0;
        padding: 13.5px;
      }
      .zuzu-pricing-price{
        margin-bottom: 15px;
      }
      p{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 25px;
      }
      p.bottom_text{
        margin: 0;
      }
      .zuzu-pricing-body {
        border-top: 1px solid rgba(19, 17, 26, 0.1);
        padding: 25px 0 35px;
        span{
          font-size: 16px;
          display: block;
          margin-bottom: 18px;
          font-weight: 600;
        }
        ul{
          li{
            font-weight: 400;
            color: var(--gray-800);
          }
          .disable{
            opacity: 0.4;
          }
        }
    }
    
    }
  }
  &-header{
    margin-bottom: 15px;
    p{
      font-size: 16px;
      line-height: 24px;
      margin-right: 90px;
    }
  }
  &-price{
    display: flex;
    align-items: flex-end;
    margin-bottom: 35px;
  }
  &-currency{
    line-height: 1;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    bottom: 5px;
  }
  &-body{
    ul{
      li{
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 11px;
        position: relative;
        padding-left: 30px;
        img{
          left: 0;
          top: 7px;
          position: absolute;
        }
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
    
  }
}
.zuzu-price{
  line-height: 1;
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  font-family: $body-font;
  color: var(--gray-800);
}
p.bottom_text{
  line-height: 1;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  bottom: 5px;
  color: var(--gray-800);
}
a.zuzu-pricing-btn{
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  border-radius: 10px;
  padding: 15px;
  color: var(--gray-800);
  border: 2px solid var(--gray-800);
  transition: all 0.4s;
  margin-bottom: 40px;
  &:hover{
    border: 2px solid var(--warning-500);
    background-color: var(--warning-500);
  }
  &.active{
    border: 2px solid var(--warning-500);
    background-color: var(--warning-500);
  }
}

.zuzu-pricing-label {
  width: 178px;
  top: 27px;
  right: -42px;
  font-weight: 600;
  text-align: center;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(44.51deg);
  position: absolute;
  background-color: var(--warning-500);
}

// pricing dark
.zuzu-pricing-dark{
  .pricing-btn {
    label{
      color: var(--gray-10);
    }
  }
  .pricing-btn .btn-toggle{
    background-color: #7D41EA!important;
    background-image: url(../images/all-img/service/circle-bg2.png);
  }
  .pricing-btn .btn-toggle:checked{
    background-color: #7D41EA!important;
    background-image: url(../images/all-img/service/circle-bg2.png);
  }
  .zuzu-pricing-header{
    h5{
      color: var(--gray-10);
    }
    p{
      color: rgba(255, 255, 255, 0.8);
    }
  }
  .zuzu-price, 
  .zuzu-pricing-currency, 
  p.bottom_text{
    color: var(--gray-10);
  }
  .zuzu--outline-btn{
    display: block;
    margin-bottom: 40px;
    span{
      padding: 12.5px 38px;
      background-color: var(--gray-600);
      &:hover{
        background-color: transparent;
      }
    }
  }
  .zuzu-pricing-body ul li{
    color: rgba(255, 255, 255, 0.8);
  }
  .zuzu-pricing-label {
      color: var(--gray-10);
      background: linear-gradient(225deg, #0080FF 0%, #7D41EA 46.35%, #FF00D4 100%);
  }
  .zuzu-default-content{
    h2{
      color: var(--gray-10);
    }
    p{
      color: rgba(255, 255, 255, 0.8);
    }
  }
  .zuzu-accordion-item {
    h4{
      color: var(--gray-10);
    }
    p{
      color: rgba(255, 255, 255, 0.8);
    }
    border-bottom: 1px solid var(--gray-10);
    &:last-child{
      border: none;
    }
  }
  a.zuzu-faq-btn{
    color: var(--gray-10);
    &:hover{
      color: var(--warning-500);
    }
  }
  &.zuzu-client-section{
    padding: 0;
  }
  .zuzu-client-title {
    h5{
      color: var(--gray-10);
    }
  }

  // pricing dark two
  .zuzu-pricing-wrap.zuzu-pricing-wrap3{
    background-color: var(--gray-600);
    p{
      color: rgba(255, 255, 255, 0.8);
    }
    .zuzu-pricing-body{
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      span{
        color: rgba(255, 255, 255, 0.8);
      }
      li{
        color: #fff;
      }
    }
  }
}


// privicy plolicy
.zuzu-privacy-policy-wrap{
  p{
    color: var(--gray-800);
  }
  ul{
    margin-bottom: 40px;
    li{
      padding-left: 20px;
      padding-bottom: 15px;
      position: relative;
      color: var(--gray-800);
      &:before{
        content: "";
        left: 0;
        top: 10px;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        position: absolute;
        background-color: var(--gray-800);
      }
      &:last-child{
        padding-bottom: 0;
      }
    }
  }
}

.zuzu-privacy-policy-dark{
  .zuzu-privacy-policy-wrap{
    p, h2, h4{
      color: var(--gray-10);
    }
    ul{
      li{
        color: var(--gray-10);
        &:before{
          background-color: var(--gray-10);
        }
      }
    }
  }
}