.zuzu-shape1 {
  position: absolute;
  right: 70px;
  top: 25px;
  -webkit-animation: float 4s ease-in-out infinite;
    animation: float 3s ease-in-out infinite;
    @include max(1300px) {
      width: 180px;
      top: 70px;
    }
    @include max(1200px) {
      width: 130px;
      top: 115px;
    }
    @include max(1100px) {
      display: none;
    }
}

.zuzu-shape2 {
  position: absolute;
  top: -50px;
  left: 10%;
  -webkit-animation: float 4s ease-in-out infinite;
    animation: float 3s ease-in-out infinite;
    @include max(1300px) {
      width: 180px;
    }
    @include max(1200px) {
      width: 130px;
    }
    @include max(1100px) {
      display: none;
    }
}

.zuzu-shape3 {
  position: absolute;
  top: 0;
  right: 10px;
  -webkit-animation: float 4s ease-in-out infinite;
    animation: float 3s ease-in-out infinite;
    @include max(991px) {
      display: none;
    }
}

.zuzu-shape4 {
  position: absolute;
  bottom: 33%;
  left: 60px;
  -webkit-animation: float 4s ease-in-out infinite;
    animation: float 3s ease-in-out infinite;
    @include max(1199px) {
      display: none;
    }
}

.zuzu-shape5 {
  position: absolute;
  top: 39px;
  right: 10px;
  -webkit-animation: float 4s ease-in-out infinite;
    animation: float 3s ease-in-out infinite;
    @include max(1199px) {
      display: none;
    }
}

.zuzu-cta-star {
  position: absolute;
  top: 12%;
  right: 17%;
  width: 40px;
  -webkit-animation: rotate 8s linear infinite;
    animation: rotate 8s linear infinite;
    @include max(767px) {
      display: none;
    }
}