.fugu-social-icon{
  margin-top: 30px;
  ul{
    display: flex;
    li{
      margin: 0 7.5px;
      display: inline-block;
      &:first-child{
        margin-left: 0;
      }
      &:last-child{
        margin-right: 0;
      }
      a{
        width: 30px;
        height: 30px;
        display: flex;
        z-index: 0;
        color: white;
        font-size: 12px;
        border-radius: 100%;
        align-items: center;
        position: relative;
        overflow: hidden;
        transition: all 0.4s;
        justify-content: center;
        background-color: var(--gray-900);
        &:hover{
          color: var(--gray-800);
          background-color: var(--warning-500);
        }
        path{
          fill: var(--gray-10);
          transition: all .4s;
        }
        &:hover path{
          fill: var(--gray-800);
        }
      }
    }
  }
}

.fugu-social-icon2{
  ul{
    li{
      margin: 0 2px;
      display: inline-block;
      &:first-child{
        margin-left: 0;
      }
      &:last-child{
        margin-right: 0;
      }
      a{
        path{
          fill: var(--gray-800);
          transition: all 0.4s;
        }
        &:hover path{
          fill: var(--warning-500);
        }
      }
    }
  }
}

.fugu-social-icon3{
  position: absolute;
  right: 30px;
  top: 30px;
  @include max(767px) {
    top: 50px;
  }
  ul{
    li{
      display: inline-block;
      margin-right: 10px;
      &:last-child{
        margin-right: 0;
      }
      a{
        path{
          fill: var(--gray-800);
        }
      }
    }
  }
}




.fugu--social-icon{
  margin-top: 30px;
  ul{
    li{
      margin: 0 7px;
      display: inline-block;
      &:first-child{
        margin-left: 0;
      }
      &:last-child{
        margin-right: 0;
      }
      a{
        width: 30px;
        height: 30px;
        display: flex;
        z-index: 0;
        border-radius: 100%;
        align-items: center;
        position: relative;
        overflow: hidden;
        justify-content: center;
        background-color: var(--gray-900);
        &:before{
          content: " ";
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          opacity: 0;
          transition: all 0.4s;
          position: absolute;
          background: linear-gradient(225deg, #0080FF 0%, #7D41EA 46.35%, #FF00D4 100%);
        }
        &:hover::before{
          opacity: 1;
        }
      }
    }
  }
}

.fugu--social-icon2 {
  margin: 0;
  @include max(991px) {
    text-align: center;
    margin-top: 15px;
  }
  ul{
    li{
      a{
        &:hover{
          background: var(--danger-500);
        }
        &:hover:before{
          content: none;
        }
      }
    }
  }
}

.fugu--social-icon3 {
  ul{
    li{
      a{
        &:hover{
          background: var(--primary-500);
        }
        &:hover:before{
          content: none;
        }
      }
    }
  }
  
}

.fugu--social-icon4 {
  ul{
    display: flex;
    justify-content: center;
    li{
      a{
        width: 49px;
        height: 49px;
        background-color: transparent;
        &:hover{
          background: var(--danger-500);
        }
        svg{
          width: 22px;
          height: 22px;
          path{
            transition: all 0.4s;
            fill: var(--gray-800);
          }
        }
   
        &:hover:before{
          content: none;
        }
      }
    }
  }
  
}

.fugu--social-icon5 {
  ul{
    li{
      a{
        background-color: #ECECED;
        path{
          fill: #13111A;
          transition: all 0.4s;
        }
        &:hover path{
          fill: white;
        }
      }
    }
  }
}


.fugu--social-icon6 {
  ul{
    li{
      a{
        &:hover{
          background: var(--primary-400);
          box-shadow: 0 2px 0 0 var(--gray-800);
        }
        &:hover:before{
          content: none;
        }
      }
    }
  }
  
}

.fugu--social-icon7{
  ul{
    li{
      a{
        position: relative;
        border-radius: 3px;
        background-color: var(--gray-900);
        &:hover path{
          fill: #fff!important;
        }
        &:hover::before{
          opacity: 1;
        }
        &:before{
          content: '';
          left: 0;
          top: 0;
          opacity: 0;
          z-index: -1;
          width: 100%;
          height: 100%;
          transition: all 0.4s;
          position: absolute;
          background: linear-gradient(225deg, #30FFC7 0%, #512FE7 100%);
        }
      }
    }
  }
}

.fugu--social-icon8{
  ul{
    li{
      a{
        &:before{
          content: none;
        }
        &:hover{
          background-color: var(--pink-500);
        }
      }
    }
  }
}