

// team 06
.zuzu-team{
  &-wrap{
    text-align: center;
    margin-bottom: 24px;
    &.dark{
      .zuzu-team-data{
        h4{
          color: var(--gray-10);
        }
        p{
          color: rgba(255, 255, 255, 0.8);
          path{
            fill: var(--gray-10);
            
          }
          &:hover path{
            fill: var(--primary-400);
          }
        }
        
      }
    }
  }
  &-thumb{
    margin-bottom: 25px;
    transition: all 0.4s;
  }
  &-data{
    h4{
      font-family: $body-font;
      margin-bottom: 10px;
    }
    p{
      font-size: 20px;;
      letter-spacing: -0.5px;
      display: flex;
      align-items: center;
      justify-content: center;
      svg{
        margin-left: 10px;
      }
      path{
        transition: all 0.4s;
      }
      &:hover path{
        fill: var(--primary-400);
      }
      
    }
    &.zuzu-v2{
        p{
          &:hover path{
            fill: var(--pink-500);
          }
        }
    }
  }
}

.zuzu-team-wrap.wrap2{
  background: #FFFFFF;
  height: calc(100% - 24px);
  overflow: hidden;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.06);
  &.dark{
    background-color: var(--gray-800);
   
      h4{
        color: var(--gray-10);
      }
    
  }

  h4{
    margin-bottom: 40px;
    font-size: 35px;
    font-weight: 700;
    line-height: 42px;
    font-family: $body-font;
    @include max(991px) {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 20px;
    }
  }
  @include max(767px) {
    height: 100%;
  }
}