.fugu-testimonial-section{
  background-color: var(--warning-400);
  .fugu-section-title{
    max-width: 720px;
  }
}

.fugu-testimonial{
  &-card{
    padding: 30px;
    border-radius: 3px;
    background-color: var(--warning-300);
    h4{
      font-size: 20px;
      line-height: 28px;
      font-weight: 700;
      margin-bottom: 15px;
      font-family: $body-font;
    }
    p{
      font-weight: 500;
      color: var(--gray-800);
    }
  }
  &-author{
    &-wrap{
      display: flex;
      align-items: center;
      margin-bottom: 35px;
    }
    &-thumb{
      width: 70px;
      height: 70px;
      flex-shrink: 0;
      overflow: hidden;
      margin-right: 15px;
      border-radius: 100%;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center top;
      }
    }
    &-data{
      h5{
        font-size: 18px;
        margin-bottom: 0;
        line-height: 1;
        font-family: $body-font;
      }
      span{
        font-size: 14px;
        opacity: 0.7;
        color: var(--gray-800);
      }
    }
    
  }
 
}

.fugu-testimonial-slider .fugu-testimonial-card{
  margin: 0 12px;
  padding: 29px;
  @include max(767px) {
    margin: 0;
  }
}

// testimonial 2
.fugu-testimonial{
  &-card2{
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    background-color: var(--warning-100);
    ul{
      margin-bottom: 20px;
      li{
        display: inline-block;
      }
    }
    p{
      font-weight: 600;
      color: var(--gray-800);
    }
  }
}

.fugu-testimonial-slider2 {
  max-width: 1150px;
  margin: 0 auto;
  .fugu-testimonial-card2{
    margin: 0 32px;
    @include max(1399px) {
      margin: 0 20px;
    }
    @include max(991px) {
      margin: 0;
    }
  }
  
}
.fugu-testimonial-btn{
  margin-top: 80px;
  text-align: center;
  @include max(1199px) {
    margin-top: 50px;
  }
  .fugu-btn.fugu-header-btn{
    margin-left: 0;
  }
}



// testimonial page
.fugu-testimonial{
  &-card3{
    padding: 40px;
    margin-bottom: 24px;
    border-radius: 10px;
    border: 1px solid rgba(2, 2, 30, 0.1);
    @include max(1399px) {
      padding: 29px;
    }
    ul{
      margin-bottom: 30px;
      li{
        display: inline-block;
      }
    }
    p{
      color: var(--gray-800);
    }
    .fugu-testimonial-author-wrap{
      margin: 0;
    }
  }
  &-author{
    &-data3{
      h5{
        line-height: 1;
        margin: 0 0 7px;
      }
    }
  }
}




.fugu--testimonial{
  &-wrap{
    padding: 40px;
    border-radius: 3px;
    margin-bottom: 24px;
    background-color: var(--gray-900);
    @include max(991px) {
      padding: 30px;
    }
  }
  &-rating{
    margin-bottom: 27px;
    ul{
      li{
        display: inline-block;
      }
    }
  }
  &-author{
    margin-top: 25px;
    display: flex;
    align-items: center;
    &-thumb{
      width: 70px;
      height: 70px;
      border-radius: 100%;
      overflow: hidden;
      flex-shrink: 0;
      margin-right: 20px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center top;
      }
    }
    &-data{
      span{
        display: inline-block;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 5px;
        color: white;
      }
      p{
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;
        opacity: 0.7;
        margin: 0;
      }
    }
  }
  &-data{
    p{
      color: #FFFFFF;
    }
  }
}

.fugu--testimonial-button {
  margin-top: 56px;
  text-align: center;
  @include max(991px) {
    margin-top: 36px;
  }
}

// testimonial v7
.fugu-testimonial-content-v7{
  p{
    font-weight: 600;
    color: var(--gray-10);
  }
  h5{
    font-weight: 600;
    color: var(--gray-10);
    font-family: $body-font;
    margin-bottom: 0px;
  }
  span{
    color: var(--gray-10);
    opacity: 0.7;
    font-size: 14px;
  }
}
.fugu-testimonial-buttonv7{
  margin-top: 75px;
  text-align: center;
  @include max(991px) {
    margin-top: 40px;
  }
}

.fugu-map-thumb{
  position: relative;
}
.fugu-t-user{
  position: absolute;
  border-radius: 100%;
  overflow: hidden;
  animation: zoom-in-zoom-out2 5s ease-out infinite;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
  }
  &.t-user1{
    width: 30px;
    height: 30px;
    top: 28px;
    left: 14%;
  }
  &.t-user2{
    width: 40px;
    height: 40px;
    bottom: 60px;
    left: 30%;
  }
  &.t-user3{
    width: 50px;
    height: 50px;
    top: 26%;
    right: 34%;
  }
  &.t-user4{
    width: 30px;
    height: 30px;
    top: 20%;
    right: 7%;
  }
}

@keyframes zoom-in-zoom-out2 {
  0% {
    transform: scale(.5, .5);
  }
  50% {
    transform: scale(1, );
  }
  100% {
    transform: scale(.5, .5);
  }
}