// video v1 hero section

.zuzu-video-thumb{
  position: relative;
  img{
    width: 100%;
    height: 100%;
  }
  @include max(991px) {
    margin-bottom: 30px;
  }
}
a.zuzu-popup, 
.zuzu-play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a.zuzu-popup img{
  -webkit-animation: rotate-animation 10s infinite linear;
  -moz-animation: rotate-animation 10s infinite linear;
  -o-animation: rotate-animation 10s infinite linear;
  animation: rotate-animation 10s infinite linear;
  &:hover{
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
  }
  @include max(991px) {
    width: 90px;
  }
  @include max(767px) {
    width: 75px;
  }
}
.zuzu-play-btn img{
  animation: none!important;
  width: auto!important;
}
@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.waves {
  position: absolute;
  width: 150px;
  height: 150px;
  background: rgba(255, 255, 255, 0.7);
  opacity: 0;
  border-radius: 100%;
  left: -35px;
  top: -35px;
  z-index: 0;
  -webkit-animation: waves 3s ease-in-out infinite;
  animation: waves 3s ease-in-out infinite;
  z-index: -1;
  @include max(767px) {
    width: 130px;
    height: 130px;
  }
  &.wave-1 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  &.wave-2 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  &.wave-3 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
}


@keyframes waves {
  0% {
      -webkit-transform: scale(0.2, 0.2);
      transform: scale(0.2, 0.2);
      opacity: 0;
  }

  50% {
      opacity: 0.9;
  }

  100% {
      -webkit-transform: scale(0.9, 0.9);
      transform: scale(0.9, 0.9);
      opacity: 0;
  }
}


.zuzu-video-thumb4{
  border-radius: 20px;
  overflow: hidden;
  margin-right: 100px;
  position: relative;
  box-shadow: 10px 10px 0 0 var(--gray-800);
  @include max(1199px) {
    margin-right: 30px;
  }
  @include max(991px) {
    margin: 0 0 40px;
  }
}


.zuzu-popup .waves {
  width: 140px;
  height: 140px;
  left: -30px;
  top: -30px;
}

.zuzu-popup .waves2{
  width: 200px;
  height: 200px;
  left: -40px;
  top: -40px;
  
  @include max(991px) {
    width: 140px;
    height: 140px;
    left: -25px;
    top: -25px;
  }
  @include max(767px) {
    width: 130px;
    height: 130px;
    left: -28px;
    top: -28px;
  }
}



