.zuzu-footer-top{
  padding: 110px 0 60px;
  @include max(991px){
    padding: 100px 0 60px;
  }
  @include max(767px){
    padding: 80px 0 20px;
  }
  
}
.zuzu-textarea{
  @include max(1199px){
    margin-bottom: 40px;
    max-width: 500px;
  }
  .zuzu-footer-logo{
    margin-bottom: 30px;
  }
  p{
    color: #FFFFFF;
    opacity: 0.6;
  }
  .zuzu-copywright{
    font-size: 16px;
    margin-top: 55px;
    @include max(991px) {
      margin-top: 25px;
    }
  }
}

.zuzu-footer-menu{
  @include max(767px){
    margin-bottom: 40px!important;
  }
  span{
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 25px;
    display: block;
    color: var(--gray-10);
    @include max(991px){
      margin-bottom: 20px;
    }
  }
  p{
    color: var(--gray-10);
    opacity: 0.6;
  }
  ul{
    li{
      margin-bottom: 10px;
      &:last-child{
        margin-bottom: 0;
      }
      a{
        font-size: 18px;
        color: var(--gray-10);
        transition: all 0.4s;
        opacity: 0.6;
        &:hover{
          opacity: 1;
          padding-left: 10px;
          opacity: 1;
        }
      }
    }
  }
}

.zuzu-footer-margin{
  margin-left: 60px;
  @include max(991px) {
    margin:0;
  }
  @include max(575px) {
    margin: 0 0 30px;
  }
}

.zuzu-footer-bottom {
  padding: 35px 0;
  border-top: 1px solid var(--gray-800);
  @include max(767px) {
    text-align: center;
  }
  .zuzu-footer-menu{
    margin: 0!important;
  }
  p{
    font-size: 16px;
    color: #FFFFFF;
    opacity: 0.6;
    margin: 0;
    margin-right: 40px;
    @include max(767px){
      margin: 0 0 20px;
    }
  }
  .zuzu-footer-menu{
    text-align: right;
    @include max(767px) {
      text-align: center;
    }
    @include max(575px){
      margin-bottom: 0;
    }
    ul{
      li{
        padding-right: 20px;
        display: inline-block;
        position: relative;
        margin: 0;
        &::after{
          content: " ";
          top: 14px;
          right: 5px;
          border-radius: 50%;
          width: 5px;
          height: 5px;
          position: absolute;
          background: #FFFFFF;
          opacity: 0.8;
        }
        &:last-child{
          padding-right: 0;
        }
        &:last-child:after{
          content: none;
        }
        a{
          font-size: 16px;
          &:hover{
            padding: 0;
          }
        }
      }
    }
  }
}


.zuzu-footer-light{
  .zuzu-textarea{
    p{
      color: var(--gray-800);
    }
  }
  .zuzu-footer-menu{
    span{
      color: var(--gray-800);
    }
    p{
      opacity: .6;
      color: var(--gray-800);
    }
    ul{
      li{
        a{
          opacity: .6;
          color: var(--gray-800);
          &:hover{
            opacity: 1;
          }
        }
      }
    }
  }
  .zuzu-footer-bottom{
    border-top: 1px solid rgba(19, 17, 26, 0.1);
    p{
      opacity: .6;
      color: var(--gray-800);
    }
    .zuzu-footer-menu{
      ul{
        li{
          &::after{
            background-color: rgba(19, 17, 26, 0.5);
          }
        }
      }
    }
  }
}