
header.zuzu-header-section {
  position: fixed;
  z-index: 9;
  width: 100%;
  top: 0;
  padding: 13px 0;
  transition: all 0.4s;
}
header.zuzu-header-section.sticky-menu{
  padding: 10px 0;
  background-color: #fff;
  box-shadow: 0 4px 80px rgb(0 0 0 / 6%);
}
.site-menu-main .nav-link-item{
  color: var(--gray-800);
}

header.zuzu-header-section.zuzu-header-dark.sticky-menu{
  background-color: var(--gray-500);
}

header.zuzu-header-section.zuzu-header-dark.sticky-menu .zuzu-header-btn.black{
  color: var(--gray-500);
  background-color: var(--gray-10);
}

.zuzu-header-dark .site-menu-main .nav-link-item{
  color: var(--gray-10);
}
.zuzu-header-dark.site-header .mobile-menu-trigger span {
  background-color: white;
}
.zuzu-header-dark.site-header .mobile-menu-trigger span:before, 
.zuzu-header-dark.site-header .mobile-menu-trigger span:after {
  background-color: white;
}

.zuzu-responsive-btn{
  display: none;
  margin-top: 40px;
  padding: 0 15px;
  .zuzu-btn.zuzu-header-btn{
    margin: 25px 0 0;
    padding: 0 33px;
  }
  @include max(991px) {
    display: block;
  }
}

.zuzu-responsive-btn{
  display: none;
  margin-top: 40px;
  padding: 0 15px;
  .zuzu--btn.zuzu--menu-btn1, 
  .zuzu--btn.zuzu--menu-btn2, 
  .zuzu--btn.zuzu--menu-btn3{
    margin: 25px 0 0;
    padding: 0 33px;
  }
  @include max(991px) {
    display: block;
  }
}

.brand-logo.zuzu-menu-left {
  margin-right: 50px;
}