<!-- Footer  -->

<footer class="fugu--foote2-section" style="background-image: url('assets/images/all-img/v4/footer-bg.png')">
  <div class="container">
      <div class="fugu--footer-top">
          <div class="fugu--default-content content-black">
            <h2 class="wow fadeInUpX" data-wow-delay="0s">Join our NFTs community</h2>
            <p class="wow fadeInUpX" data-wow-delay="0.15s">Meet artists & collectors for platform updates and get dozens of our extraordinary art collections in the world’s largest NFT marketplace.</p>
            <div class="fugu--btn-wrap wow fadeInUpX" data-wow-delay="0.25s">
              <a class="fugu--btn bg-orange" href="#">Join Our Discord</a>
            </div>
            <div class="fugu--star">
              <img src="assets/images/all-img/v4/star-black.png" alt="">
            </div>
          </div>
      </div>
      <div class="fugu--footer-middle">
        <div class="row">
          <div class="col-xl-3 col-lg-2">
            <div class="fugu--footer-logo">
              <img src="assets/images/logo/logo-black.svg" alt="">
            </div>
          </div>
          <div class="col-xl-6 col-lg-8">
            <div class="fugu--footer-menu2">
              <ul>
                <li><a href="">Demos</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Collections</a></li>
                <li><a href="">Pages</a></li>
                <li><a href="">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-3 col-lg-2">
            <div class="fugu--social-icon fugu--social-icon2">
              <ul>
                  <li><a href=""><img src="assets/images/social2/twitter.svg" alt=""></a></li>
                  <li><a href=""><img src="assets/images/social2/facebook.svg" alt=""></a></li>
                  <li><a href=""><img src="assets/images/social2/github.svg" alt=""></a></li>
              </ul>
          </div>
          </div>
        </div>
      </div>
      <div class="fugu--footer-bottom fugu--footer-bottom2">
        <div class="row">
          <div class="col-lg-6">
            <p>&copy; Copyright 2022, All Rights Reserved by Mthemeus</p>
          </div>
          <div class="col-lg-6">
            <div class="fugu--footer-menu">
                <ul>
                    <li><a href="">Terms</a></li>
                    <li><a href=""> Privacy Policy</a></li>
                </ul>
            </div>
          </div>
        </div>
      </div>
  </div>
</footer>