<!-- Footer  -->

<footer class="zuzu-footer-section bg-gray-500">
  <div class="container">
      <div class="zuzu-footer-top">
          <div class="row">
              <div class="col-xl-3">
                  <div class="zuzu-textarea">
                      <div class="zuzu-footer-logo">
                          <img src="assets/images/logo/logo-white.svg" alt="" class="light-version-logo">
                      </div>
                      <p>Discover NFTs by category, track the latest drops, and follow the collections you love to enjoy it!</p>
                      <div class="zuzu-social-icon">
                          <ul>
                              <li><a href=""><img src="assets/images/social/twitter.svg" alt=""></a></li>
                              <li><a href=""><img src="assets/images/social/linkedin.svg" alt=""></a></li>
                              <li><a href=""><img src="assets/images/social/icon.svg" alt=""></a></li>
                              <li><a href=""><img src="assets/images/social/github.svg" alt=""></a></li>
                              <li><a href=""><img src="assets/images/social/plne.svg" alt=""></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-xl-2 offset-xl-1 col-lg-3 col-md-3">
                  <div class="zuzu-footer-menu">
                      <span>Community</span>
                      <ul>
                          <li><a href="">Create A Store</a></li>
                          <li><a href="">Start Selling</a></li>
                          <li><a href="">My Account</a></li>
                          <li><a href="">Job</a></li>
                          <li><a href="">List a Item</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-3">
                  <div class="zuzu-footer-menu zuzu-footer-margin">
                      <span>Marketplace</span>
                      <ul>
                          <li><a href="">Art</a></li>
                          <li><a href="">Digital Art</a></li>
                          <li><a href="">Photography</a></li>
                          <li><a href="">Games</a></li>
                          <li><a href="">Music</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-xl-3 col-lg-5 col-md-6">
                  <div class="zuzu-footer-menu">
                      <span>Subscribe to our newsletter</span>
                      <p>Join our newsletter to stay updated on our latest NFTs & artworks.</p>
                      <div class="zuzu-footer-subscribe">
                          <input type="email" placeholder="Enter your email">
                          <button type="submit" id="zuzu-footer-subscribe-btn">Subscribe</button>
                        </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="zuzu-footer-bottom">
        <div class="row">
          <div class="col-lg-6 col-md-8">
            <p>&copy; Copyright 2022, All Rights Reserved by Mthemeus</p>
          </div>
          <div class="col-lg-6 col-md-4">
            <div class="zuzu-footer-menu">
                <ul>
                    <li><a href="">Terms</a></li>
                    <li><a href=""> Privacy Policy</a></li>
                </ul>
            </div>
          </div>
        </div>
      </div>
  </div>
</footer>