<!-- Footer  -->

<footer class="zuzu-footer-section zuzu-footer-light">
    <div class="container">
        <div class="zuzu-footer-top">
            <div class="row">
                <div class="col-xl-3 col-lg-4">
                    <div class="zuzu-textarea">
                        <div class="zuzu-footer-logo">
                            <img src="assets/images/logo/logo-black.svg" alt="" class="light-version-logo">
                        </div>
                        <p>Discover NFTs by category, track the latest drops, and follow the collections you love to enjoy it!</p>
                        <div class="zuzu-social-icon zuzu-social-icon2">
                            <ul>
                                <li><a href=""><img src="assets/images/social/twitter.svg" alt=""></a></li>
                                <li><a href=""><img src="assets/images/social/linkedin.svg" alt=""></a></li>
                                <li><a href=""><img src="assets/images/social/icon.svg" alt=""></a></li>
                                <li><a href=""><img src="assets/images/social/github.svg" alt=""></a></li>
                                <li><a href=""><img src="assets/images/social/plne.svg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 offset-xl-1 col-lg-2 offset-lg-1 col-md-4">
                    <div class="zuzu-footer-menu">
                        <span>Product</span>
                        <ul>
                            <li><a href="">Invest</a></li>
                            <li><a href="">Crypto</a></li>
                            <li><a href="">Cash Card</a></li>
                            <li><a href="">Learn</a></li>
                            <li><a href="">Snacks</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 offset-xl-1 col-lg-2 col-md-4">
                    <div class="zuzu-footer-menu">
                        <span>Company</span>
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">About</a></li>
                            <li><a href="">Careers</a></li>
                            <li><a href="">Blog</a></li>
                            <li><a href="">Blog post</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 offset-xl-1 col-lg-2 col-md-4">
                    <div class="zuzu-footer-menu">
                        <span>Resources</span>
                        <ul>
                            <li><a href="">Explore NFTs</a></li>
                            <li><a href="">Platform Status</a></li>
                            <li><a href="">Help Center</a></li>
                            <li><a href="">Partners</a></li>
                            <li><a href="">Marketplace</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="zuzu-footer-bottom">
          <div class="row">
            <div class="col-lg-6 col-md-8">
              <p>&copy; Copyright 2023, All Rights Reserved by favdevs</p>
            </div>
            <div class="col-lg-6 col-md-4">
              <div class="zuzu-footer-menu">
                  <ul>
                      <li><a href="">Terms</a></li>
                      <li><a href=""> Privacy Policy</a></li>
                  </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
  </footer>