<header class="site-header site-header--menu-right fugu-header-section" id="sticky-menu">
  <div class="container-fluid">
    <nav class="navbar site-navbar">
      <!-- Brand Logo-->
      <div class="brand-logo">
        <a href="index.html">
          <img src="assets/images/logo/logo-black.svg" alt="" class="light-version-logo">
        </a>
      </div>
      <div class="menu-block-wrapper">
        <div class="menu-overlay"></div>
        <nav class="menu-block" id="append-menu-header">
          <div class="mobile-menu-head">
            <div class="go-back">
              <i class="fa fa-angle-left"></i>
            </div>
            <div class="current-menu-title"></div>
            <div class="mobile-menu-close">&times;</div>
          </div>
          <ul class="site-menu-main">
            <li class="nav-item nav-item-has-children">
              <a href="#" class="nav-link-item drop-trigger">Demo <i class="fas fa-angle-down"></i></a>
              <ul class="sub-menu" id="submenu-1">
                <li class="sub-menu--item">
                  <a href="index.html">Crypto App</a>
                </li>
                <li class="sub-menu--item">
                  <a href="index-2.html">Crypto Trading</a>
                </li>
                <li class="sub-menu--item">
                  <a href="index-3.html">NFT Marketplace</a>
                </li>
                <li class="sub-menu--item">
                  <a href="index-4.html"> NFT Landing</a>
                </li>
                <li class="sub-menu--item">
                  <a href="index-5.html">Crypto Landing</a>
                </li>
                <li class="sub-menu--item">
                  <a href="index-6.html">NFT Project launch</a>
                </li>
                <li class="sub-menu--item">
                  <a href="index-7.html">Blockchain</a>
                </li>
                <li class="sub-menu--item">
                  <a href="index-8.html">NFT Platform</a>
                </li>
              </ul>
            </li>
            <li class="nav-item nav-item-has-children">
              <a href="#" class="nav-link-item drop-trigger">Pages <i class="fas fa-angle-down"></i></a>
              <ul class="sub-menu" id="submenu-2">
                <li class="sub-menu--item nav-item-has-children">
                  <a href="#" data-menu-get="h3" class="drop-trigger">About <i class="fas fa-angle-down"></i></a>
                  <ul class="sub-menu shape-none" id="submenu-3">
                    <li class="sub-menu--item">
                      <a href="about-dark.html">About Dark</a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="about-us.html">About light 01</a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="about-light.html">About light 02</a>
                    </li>
                  </ul>
                </li>
                <li class="sub-menu--item nav-item-has-children">
                  <a href="#" data-menu-get="h3" class="drop-trigger">blog light <i class="fas fa-angle-down"></i></a>
                  <ul class="sub-menu shape-none" id="submenu-4">
                    <li class="sub-menu--item">
                      <a href="blog-light.html">blog light</a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="blog.html">blog light sidebar 01</a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="blog-light-sidebar.html">blog light sidebar 02</a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="single-blog.html">blog light details</a>
                    </li>
                  </ul>
                </li>
                <li class="sub-menu--item nav-item-has-children">
                  <a href="#" data-menu-get="h3" class="drop-trigger">blog dark <i class="fas fa-angle-down"></i></a>
                  <ul class="sub-menu shape-none" id="submenu-5">
                    <li class="sub-menu--item">
                      <a href="blog-dark.html">blog dark</a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="blog-dark-sidebar.html">blog dark sidebar</a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="single-dark-blog.html">blog dark details</a>
                    </li>
                  </ul>
                </li>
                <li class="sub-menu--item nav-item-has-children">
                  <a href="#" data-menu-get="h3" class="drop-trigger">Service<i class="fas fa-angle-down"></i>
                  </a>
                  <ul class="sub-menu shape-none" id="submenu-6">
                    <li class="sub-menu--item">
                      <a href="service.html">service</a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="single-service.html">single service</a>
                    </li>
                  </ul>
                </li>
                <li class="sub-menu--item nav-item-has-children">
                  <a href="#" data-menu-get="h3" class="drop-trigger">Team<i class="fas fa-angle-down"></i>
                  </a>
                  <ul class="sub-menu shape-none" id="submenu-7">
                    <li class="sub-menu--item">
                      <a href="team-dark.html">Team dark</a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="team.html">Team light 01</a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="team-light.html">Team light 02</a>
                    </li>
                    
                    <li class="sub-menu--item">
                      <a href="single-team.html">single team</a>
                    </li>
                  </ul>
                </li>
                <li class="sub-menu--item nav-item-has-children">
                  <a href="#" data-menu-get="h3" class="drop-trigger">Career<i class="fas fa-angle-down"></i>
                  </a>
                  <ul class="sub-menu shape-none" id="submenu-8">
                    <li class="sub-menu--item">
                      <a href="career.html">Career</a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="single-career.html">single Career</a>
                    </li>
                  </ul>
                </li>
                <li class="sub-menu--item nav-item-has-children">
                  <a href="#" data-menu-get="h3" class="drop-trigger">Portfolio<i class="fas fa-angle-down"></i>
                  </a>
                  <ul class="sub-menu shape-none" id="submenu-9">
                    <li class="sub-menu--item">
                      <a href="portfolio-01.html">Portfolio Classic</a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="portfolio-02.html">Portfolio Minimal</a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="portfolio-03.html">Portfolio Modern</a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="single-portfolio.html">Single Portfolio</a>
                    </li>
                  </ul>
                </li>
                <li class="sub-menu--item nav-item-has-children">
                  <a href="#" data-menu-get="h3" class="drop-trigger">Pricing Light<i class="fas fa-angle-down"></i>
                  </a>
                  <ul class="sub-menu shape-none" id="submenu-10">
                    <li class="sub-menu--item">
                      <a href="pricing-light-01.html">pricing light 01</a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="pricing-light-02.html">pricing light 02</a>
                    </li>
                  </ul>
                </li>
                <li class="sub-menu--item nav-item-has-children">
                  <a href="#" data-menu-get="h3" class="drop-trigger">Pricing Dark<i class="fas fa-angle-down"></i>
                  </a>
                  <ul class="sub-menu shape-none" id="submenu-11">
                    <li class="sub-menu--item">
                      <a href="pricing-dark-01.html">pricing dark 01</a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="pricing-dark-02.html">pricing dark 02</a>
                    </li>
                  </ul>
                </li>
                <li class="sub-menu--item nav-item-has-children">
                  <a href="#" data-menu-get="h3" class="drop-trigger">Privacy Policy<i class="fas fa-angle-down"></i>
                  </a>
                  <ul class="sub-menu shape-none" id="submenu-12">
                    <li class="sub-menu--item">
                      <a href="privacy-policy-light.html">Privacy Policy light</a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="privacy-policy-dark.html">Privacy Policy dark</a>
                    </li>
                  </ul>
                </li>
                <li class="sub-menu--item nav-item-has-children">
                  <a href="#" data-menu-get="h3" class="drop-trigger">Utility<i class="fas fa-angle-down"></i>
                  </a>
                  <ul class="sub-menu shape-none" id="submenu-13">
                    <li class="sub-menu--item">
                      <a href="faq.html">faq</a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="error-404.html">Error 404</a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="testimonial.html">testimonial</a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="coming-soon.html">Coming Soon</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="nav-item nav-item-has-children has-megamenu">
              <a href="#" class="nav-link-item drop-trigger">elements <i class="fas fa-angle-down"></i></a>
              <div class="sub-menu megamenu  megadropdown-center  d-lg-flex" id="submenu-100">
                <ul class="col-lg-12 row-lg list-unstyled py-lg-7">
                  <li class="col-lg-3">
                    <div class="single-dropdown-block">
                      <h3>about Style</h3>
                      <a href="about-dark.html" class="mega-drop-menu-item sub-menu--item">About us Dark</a>
                      <a href="about-us.html" class="mega-drop-menu-item sub-menu--item">about us light 01</a>
                      <a href="about-light.html" class="mega-drop-menu-item sub-menu--item">about us light 01</a>
                    </div>
                  </li>
                  <li class="col-lg-3">
                    <div class="single-dropdown-block">
                      <h3>blog Style</h3>
                      <a class="mega-drop-menu-item sub-menu--item" href="blog-dark.html">blog dark</a>
                      <a class="mega-drop-menu-item sub-menu--item" href="blog-dark-sidebar.html">blog dark sidebar</a>
                      <a class="mega-drop-menu-item sub-menu--item" href="single-dark-blog.html">blog dark details</a>
                      <a class="mega-drop-menu-item sub-menu--item" href="blog-light.html">blog light</a>
                      <a class="mega-drop-menu-item sub-menu--item" href="blog.html">blog light sidebar 01</a>
                      <a class="mega-drop-menu-item sub-menu--item" href="blog-light-sidebar.html">blog light sidebar 02</a>
                      <a class="mega-drop-menu-item sub-menu--item" href="single-blog.html">blog light details</a>
                    </div>
                  </li>
                  <li class="col-lg-3">
                    <div class="single-dropdown-block">
                      <h3>Portfolio Style</h3>
                      <a href="portfolio-01.html" class="mega-drop-menu-item sub-menu--item">Portfolio Classic </a>
                      <a href="portfolio-02.html" class="mega-drop-menu-item sub-menu--item">Portfolio Minimal</a>
                      <a href="portfolio-03.html" class="mega-drop-menu-item sub-menu--item">Portfolio Modern</a>
                      <a href="single-portfolio.html" class="mega-drop-menu-item sub-menu--item d-block">portfolio details</a>
                    </div>
                  </li>
                  <li class="col-lg-3">
                    <div class="single-dropdown-block">
                      <h3>contact style</h3>
                      <a href="contact-dark.html" class="mega-drop-menu-item sub-menu--item d-block">contact dark</a>
                      <a href="contact.html" class="mega-drop-menu-item sub-menu--item d-block">contact light 01</a>
                      <a href="contact-light.html" class="mega-drop-menu-item sub-menu--item d-block">contact light 02</a>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item nav-item-has-children">
              <a href="#" class="nav-link-item drop-trigger">Blog <i
                  class="fas fa-angle-down"></i></a>
                <ul class="sub-menu" id="submenu-14">
                  <li class="sub-menu--item">
                    <a href="blog-dark.html">blog dark</a>
                  </li>
                  <li class="sub-menu--item">
                    <a href="blog-dark-sidebar.html">blog dark sidebar</a>
                  </li>
                  <li class="sub-menu--item">
                    <a href="single-dark-blog.html">blog dark details</a>
                  </li>
                  <li class="sub-menu--item">
                    <a href="blog-light.html">blog light</a>
                  </li>
                  <li class="sub-menu--item">
                    <a href="blog.html">blog light sidebar 01</a>
                  </li>
                  <li class="sub-menu--item">
                    <a href="blog-light-sidebar.html">blog light sidebar 02</a>
                  </li>
                  <li class="sub-menu--item">
                    <a href="single-blog.html">blog light details</a>
                  </li>
                </ul>
            </li>
            <li class="nav-item nav-item-has-children">
              <a href="#" class="nav-link-item drop-trigger">Contact us <i
                  class="fas fa-angle-down"></i></a>
                <ul class="sub-menu" id="submenu-15">
                  <li class="sub-menu--item">
                    <a href="contact-dark.html">contact dark</a>
                  </li>
                  <li class="sub-menu--item">
                    <a href="contact.html">contact light 01</a>
                  </li>
                  <li class="sub-menu--item">
                    <a href="contact-light.html">contact light 02</a>
                  </li>
                </ul>
            </li>
            <li class="header-btn header-btn-l1 fugu-responsive-btn">
              <a class="fugu-btn fugu-header-btn" href="contact.html">
                Get Started
              </a>
            </li>
          </ul>
        </nav>
        
      </div>
      <div class="header-btn header-btn-l1 ms-auto d-none d-xs-inline-flex">
        <a class="fugu-btn fugu-header-btn" href="contact.html">
          Get Started
        </a>
      </div>
      <!-- mobile menu trigger -->
      <div class="mobile-menu-trigger">
        <span></span>
      </div>
      <!--/.Mobile Menu Hamburger Ends-->
    </nav>
  </div>
</header>
<!--End landex-header-section -->