<header class="site-header site-header--menu-center zuzu-header-section" id="sticky-menu">
  <div class="container-fluid">
    <nav class="navbar site-navbar">
      <!-- Brand Logo-->
      <div class="brand-logo">
        <a href="index.html">
          <img src="assets/images/logo/logo-black.svg" alt="" class="light-version-logo">
        </a>
      </div>
      <div class="menu-block-wrapper">
        <div class="menu-overlay"></div>
        <nav class="menu-block" id="append-menu-header">
          <div class="mobile-menu-head">
            <div class="go-back">
              <i class="fa fa-angle-left"></i>
            </div>
            <div class="current-menu-title"></div>
            <div class="mobile-menu-close">&times;</div>
          </div>
          <ul class="site-menu-main">
            <li class="nav-item nav-item-has-children">
              <a href="#" class="nav-link-item drop-trigger">Demo <i class="fas fa-angle-down"></i></a>
              <ul class="sub-menu" id="submenu-1">
                <li class="sub-menu--item">
                  <a href="index.html">Crypto Card</a>
                </li>
                <li class="sub-menu--item">
                  <a href="index-02.html">NFT Platform</a>
                </li>
                <li class="sub-menu--item">
                  <a href="index-03.html">Blockchain</a>
                </li>
                <li class="sub-menu--item">
                  <a href="index-04.html">NFT Project launch</a>
                </li>
                <li class="sub-menu--item">
                  <a href="index-05.html">Metaverse</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="about-light.html" class="nav-link-item">About Us</a>
            </li>
            <li class="nav-item nav-item-has-children">
              <a href="#" class="nav-link-item drop-trigger">Pages <i class="fas fa-angle-down"></i></a>
              <ul class="sub-menu" id="submenu-2">
                <li class="sub-menu--item nav-item-has-children">
                  <a href="#" data-menu-get="h3" class="drop-trigger">About <i class="fas fa-angle-down"></i></a>
                  <ul class="sub-menu shape-none" id="submenu-3">
                    <li class="sub-menu--item">
                      <a href="about-light.html">About light</a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="about-dark.html">About dark</a>
                    </li>
                  </ul>
                </li>
                <li class="sub-menu--item nav-item-has-children">
                  <a href="#" data-menu-get="h3" class="drop-trigger">blog light <i class="fas fa-angle-down"></i></a>
                  <ul class="sub-menu shape-none" id="submenu-4">
                    <li class="sub-menu--item">
                      <a href="blog-light.html">blog light</a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="single-light-blog.html">blog light details</a>
                    </li>
                  </ul>
                </li>
                <li class="sub-menu--item nav-item-has-children">
                  <a href="#" data-menu-get="h3" class="drop-trigger">blog dark <i class="fas fa-angle-down"></i></a>
                  <ul class="sub-menu shape-none" id="submenu-5">
                    <li class="sub-menu--item">
                      <a href="blog-dark.html">blog dark</a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="single-dark-blog.html">blog dark details</a>
                    </li>
                  </ul>
                </li>
                <li class="sub-menu--item nav-item-has-children">
                  <a href="#" data-menu-get="h3" class="drop-trigger">Team<i class="fas fa-angle-down"></i>
                  </a>
                  <ul class="sub-menu shape-none" id="submenu-6">
                    <li class="sub-menu--item">
                      <a href="team-light.html">Team light</a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="team-dark.html">Team dark</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="nav-item nav-item-has-children">
              <a href="#" class="nav-link-item drop-trigger">Blog <i
                class="fas fa-angle-down"></i></a>
                <ul class="sub-menu" id="submenu-7">
                  <li class="sub-menu--item">
                    <a href="blog-light.html">blog light</a>
                  </li>
                  <li class="sub-menu--item">
                    <a href="single-light-blog.html">blog light details</a>
                  </li>
                  <li class="sub-menu--item">
                    <a href="blog-dark.html">blog dark</a>
                  </li>
                  <li class="sub-menu--item">
                    <a href="single-dark-blog.html">blog dark details</a>
                  </li>
                </ul>
            </li>
            <li class="nav-item nav-item-has-children">
              <a href="#" class="nav-link-item drop-trigger">Contact Us <i class="fas fa-angle-down"></i></a>
              <ul class="sub-menu" id="submenu-8">
                <li class="sub-menu--item nav-item-has-children">
                  <a href="#" data-menu-get="h3" class="drop-trigger">Contact Light <i class="fas fa-angle-down"></i></a>
                  <ul class="sub-menu shape-none" id="submenu-9">
                    <li class="sub-menu--item">
                      <a href="contact-light.html">contact light</a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="contact-light-02.html">contact light map</a>
                    </li>
                  </ul>
                </li>
                <li class="sub-menu--item nav-item-has-children">
                  <a href="#" data-menu-get="h3" class="drop-trigger">contact dark <i class="fas fa-angle-down"></i></a>
                  <ul class="sub-menu shape-none" id="submenu-10">
                    <li class="sub-menu--item">
                      <a href="contact-dark.html">contact dark</a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="contact-dark-02.html">contact dark map</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="header-btn header-btn-l1 zuzu-responsive-btn">
              <a class="zuzu-btn zuzu-header-btn rounded-pill black" href="contact-light.html">
                Get Started
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header-btn header-btn-l1 ms-auto d-none d-xs-inline-flex">
        <a class="zuzu-btn zuzu-header-btn rounded-pill blue" href="contact-light.html">
          Get Started
        </a>
      </div>
      <!-- mobile menu trigger -->
      <div class="mobile-menu-trigger">
        <span></span>
      </div>
      <!--/.Mobile Menu Hamburger Ends-->
    </nav>
  </div>
</header>
<!--End landex-header-section -->